{% load i18n rules static %}

<div class="ideadetail-tab">
    <div class="ideadetail-controls">
        {% has_perm 'advocate_europe_ideas.export_idea' request.user as can_export %}
        {% if can_export %}
            <a class="btn btn-primary" href="{% url 'journey-entry-create' idea.slug %}">{% trans "create journey entry" %}</a>
        {% endif %}
    </div>
    <div class="ideadetailtab-header">
        <h2>{% trans "Journey" %}</h2>
    </div>
    <div class="journey">
    {% if idea.journeyentry_set.all.count == 0 %}
        <h3>{% trans 'No entries yet' %}</h3>
    {% else %}
    {% for entry in idea.journeyentry_set.all %}
        <div class="journey-entry">
            <span class="journey-category">{{ entry.get_category_display }}</span>
            <h3>{{ entry.title }}</h3>
            <p>{{ entry.text | safe }}</p>
            <p>
                <span class="avatar-round-small" style="background-image: url({{ entry.creator.avatar_or_fallback_url }})"></span>
                <span class="collaborator"><a href="{% url 'profile' entry.creator.username %}">{{ entry.creator.username }} </a>{% trans 'on' %} {{ entry.created | date }}</span>
            </p>
        </div>
        {% if can_export %}
            <a class="btn btn-primary" href="{% url 'journey-entry-update' entry.pk %}">{% trans "update journey entry" %}</a>
            <a class="btn btn-primary" href="{% url 'journey-entry-delete' entry.pk %}">{% trans "delete journey entry" %}</a>
        {% endif %}
    {% endfor %}
    {% endif %}
    </div>


</div>
