{% load i18n static %}

<div class="ideadetail-tab">
    <div class="ideadetailtab-header">
        <span class="ideadetailtab-header-content-switcher">
            {% if idea.proposal.idea_sketch_archived %}
                <a class="{% if view.display_type == 'idea_sketch_archive' %}active{% endif %}" href="{% url 'idea-sketch-archived-detail' idea.proposal.idea_sketch_archived.slug %}">Ideasketch</a> |
                <a class="{% if view.display_type == 'idea'%} active {% endif %}" href="{% url 'idea-detail' idea.slug %}">Proposal</a>
            {% else %}
            Ideasketch
            {% endif %}
        </span>
        <h2>{% trans "Idea" %}</h2>
    </div>
    {% for field in idea_list %}
        <div class="ideadetailtab-con-header">
            <h4>{{ field.0 }}</h4>
        </div>
        <div class="ideadetailtab-con-text">
            <p>{{ field.1 }}</p>
        </div>
    {% endfor %}
</div>
