{% extends "base.html" %}

{% load i18n rules %}

{% block content %}
<div class="idealist">
    <div class="idealist-title text-center">
        <h1>{% trans "All ideas" %}</h1>
    </div>
    <div class="container">
        <div class="idealist-controls">
            <div class="filter-bar idealist-filter clearfix">
                <div class="idealist-search btn-group">
                    <label for="{{ id }}">
                        Search
                    </label>
                    <br>
                    <button
                        type="button"
                        class="btn btn-default btn-filter-group"
                    >
                        Placeholder for freetextfilter
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
                {% for field in view.filter.form %}
                    {{ field }}
                {% endfor %}
            </div>
            {% has_perm 'advocate_europe_ideas.export_idea' request.user as can_export %}
            {% if can_export %}
                <a class="btn btn-primary" href="{% url 'idea-export' %}{{ '?'|add:view.filter.data.urlencode }}">{% trans "export" %}</a>
            {% endif %}
        </div>
        <!-- No idea might exist for the chosen filters -->
        {% if not idea_list %}
            <div class="idealist-no-entry">
                <h4>{% trans "Sorry, no ideas exist for the chosen filters." %}</h4>
            </div>
        {% endif %}
        <div class="idealist-list">
            {% for idea in idea_list %}
            {% include 'advocate_europe_ideas/includes/idealist_item' %}
            {% endfor %}
        </div>
        {% if is_paginated %}
            {% include 'includes/pagination.html' %}
        {% endif %}
    </div>
</div>

{% endblock %}
