{% load i18n static %}

<div class="ideadetail-tab">
    <div class="ideadetailtab-header">
        <h2>{% trans "Journey" %}</h2>
    </div>
    <div class="journey">
    {% for entry in idea.journeyentry_set.all %}
        <div class="journey-entry">
            <span class="journey-category">{{ entry.get_category_display }}</span>
            <h3>{{ entry.title }}</h3>
            <p>{{ entry.text | safe }}</p>
            <p>
                <span class="avatar-round-small" style="background-image: url({{ entry.creator.avatar_or_fallback_url }})"></span>
                <span class="collaborator"><a href="{% url 'profile' entry.creator.username %}">{{ entry.creator.username }} </a>{% trans 'on' %} {{ entry.created | date }}</span>
            </p>
        </div>
    {% endfor %}
    </div>


</div>
