{% load i18n static %}

<div class="row ideadetail-header">
    <div class="ideadetail-image" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url({% if idea.idea_image %} {{ idea.idea_image.url }} {% else %} {% static 'images/placeholder_ideadetail_768x320.png' %} {% endif %});">
        <div class="ideadetailheader-content">
            <div class="col-md-9 col-sm-8 col-xs-12 ideadetailheader-left">
                <div class="btn ideadetail-btn">
                    <a href="{% url 'idea-sketch-list' %}" role="button">{% trans "< All ideas" %}</a>
                </div>
                <div class="ideadetail-title">
                    <div class="ideadetail-category">
                        {{ idea.all_idea_topics_names|join:", " }}
                    </div>
                    <h3>{{ idea.idea_title }} {% if idea.badge %}<span class="label idea_label {{ idea.badge|cut:" " }}">{{ idea.badge }}</span>{% endif %}</h3>
                    {% if idea.idea_subtitle %}
                        <h4 class="hidden-xs">
                            {{ idea.idea_subtitle }}
                        </h4>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 col-sm-4 hidden-xs ideadetailheader-right">
                <div class="btn-group ideadetail-support-btn-group" role="group">
                    <div class="btn">
                        <i class="fa fa-heart-o" aria-hidden="true"></i> {% trans 'support' %}
                    </div>
                    <div class="btn">
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row hidden-lg hidden-md hidden-sm">
    <div class="col-xs-12 text-center ideadetail-xs-support">
        <div class="btn-group ideadetail-support-btn-group" role="group">
            <div class="btn">
                <i class="fa fa-heart-o" aria-hidden="true"></i> {% trans 'support' %}
            </div>
            <div class="btn">
                0
            </div>
        </div>
    </div>
</div>
