{% load static %}

<div class="row ideadetail-header">
    <div class="ideadetail-image" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url({% if ideasketch.idea_image %} {{ ideasketch.idea_image.url }} {% else %} {% static 'images/placeholder_ideadetail_768x320.png' %} {% endif %});">
        <div class="ideadetailheader-content">
            <div class="col-md-9 col-sm-8 col-xs-12 ideadetailheader-left">
                <div class="btn ideadetail-btn">
                    <a href="{% url 'ideasketch-list' %}" role="button">< All ideas</a>
                </div>
                <div class="ideadetail-title">
                    <div class="ideadetail-category">
                       <!-- {{ ideasketch.get_idea_topics_display|join:"," }} -->
                        {{ ideasketch.get_idea_topics_display }}
                        {% if ideasketch.idea_topics_other %}
                            , {{ ideasketch.idea_topics_other }}
                        {% endif %}
                    </div>
                    <h3>
                        {{ ideasketch.idea_title }}
                        {% if ideasketch.idea_subtitle %}
                            - {{ ideasketch.idea_subtitle }}
                        {% endif %}
                    </h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 hidden-xs ideadetailheader-right">
                <div class="btn-group ideadetail-support-btn-group" role="group">
                    <div class="btn">
                        LOVE SUPPORT ?? var!
                    </div>
                    <div class="btn">
                        ??!!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row hidden-lg hidden-md hidden-sm">
    <div class="col-xs-12 text-center ideadetail-xs-support">
        <div class="btn-group ideadetail-support-btn-group" role="group">
            <div class="btn">
                LOVE SUPPORT ?? var!
            </div>
            <div class="btn">
                ??!!
            </div>
        </div>
    </div>
</div>
