{% extends "base.html" %}
{% load widget_tweaks i18n idea_tags crispy_forms_tags static force_translation %}

{% block title %} {% trans 'update idea' %} {% endblock %}

{% block content %}
    {% force_translation 'en' %}
    <div class="wizard-page">
        <div class="container-narrow breadcrumps">
            <a href="{% url 'idea-detail' object.slug %}" class="btn-back-to" data-safe-exit="wizard">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> {% trans "Back to idea" %}
            </a>
        </div>
        <form class="wizard custom-form container-narrow" data-safe-form="wizard" method="post" enctype="multipart/form-data" novalidate>
            <h1>{% trans 'Update idea' %} | {{ form.section_name }}</h1>

            <div class="wizard-progress-side">
                <ul class="wizard-progress">
                    {% for step_form in view.form_classes %}
                        <li class="wizard-progress-entry{% if view.form_number == forloop.counter0 %} active{% endif %} filled">
                            <a href="{% url view.next_view object.slug forloop.counter0 %}" data-safe-exit="wizard">
                                {{ step_form.section_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="modal fade" id="wizardExitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{% trans "You have unsaved changes" %}</h4>
                        </div>
                        <div class="modal-body">
                            <a id="discard" href class="btn btn-danger">{% trans "discard" %}</a>
                            <button id="save" type="submit" class="btn btn-ae-secondary">{% trans "save" %}</button>
                        </div>
                    </div>
                </div>
            </div>

            {{ wizard.form.media }}
            {{ wizard.management_form }}
            {% crispy form %}

            <div class="clearfix">
                <button class="btn btn-ae-secondary pull-right"
                        type="submit">
                    {% trans "save" %}
                </button>
            </div>
        </form>
    </div>
{% endforce_translation %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'advocate_europe_ideas/form.js' %}"></script>
{% endblock %}
