{% extends "base.html" %}

{% load i18n rules static thumbnail %}

{% block content %}
<div class="ideasketchlist">
    <div class="ideasketchlist-title text-center">
        <h1>All ideas</h1>
    </div>
    <div class="container">
        {% has_perm 'advocate_europe_ideas.export_ideasketch' request.user as can_export %}
        {% if can_export %}
        <div class="ideasketchlist-controls">
            <a class="btn btn-primary" href="{% url 'idea-sketch-export' %}">{% trans "export" %}</a>
        </div>
        {% endif %}
        <div class="ideasketchlist-list">
            {% for ideasketch in ideasketch_list %}
                <div class="ideasketchlist-item">
                    <div class="ideasketchlist-upper">
                        <div class="ideasketchlist-image">
                            <a href="{% url 'idea-sketch-detail' slug=ideasketch.slug %}"><img src="{% if ideasketch.idea_image %} {{ ideasketch.idea_image|thumbnail_url:'ideatileimage' }} {% else %} {% static 'images/placeholder_ideatileimage_400x200.png' %} {% endif %}"></a>
                        </div>
                        <div class="ideasketchlist-text">
                            <div class="ideasketchlist-category">
                                <!-- {{ ideasketch.get_idea_topics_display|join:"|" }} -->
                                {{ ideasketch.get_idea_topics_display }}
                            </div>

                            <h4><a href="{% url 'idea-sketch-detail' slug=ideasketch.slug %}">{{ ideasketch.idea_title }}</a></h4>
                            {{ ideasketch.idea_pitch|truncatechars:240 }}
                        </div>
                    </div>
                    <div class="ideasketchlist-lower">
                        Idea Sketch?? - var!
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            {% include 'includes/pagination.html' %}
        {% endif %}
    </div>
</div>

{% endblock %}
