{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="ideasketch-list">
    <div class="container">
        <div class="ideasketchlist-title text-center">
            <h1>All ideas</h1>
        </div>
        <div class="ideasketchlist-list">
            {% for ideasketch in ideasketches %}
                <div class="ideasketchlist-item">
                    <div class="ideasketchlist-upper">
                        {{ ideasketch.idea_topics }}
                        {% if ideasketch.idea_topics_other %}
                            | {{ ideasketch.idea_topics_other }}
                        {% endif %}

                        <h4>{{ ideasketch.idea_title }}</h4>
                        {{ ideasketch.idea_pitch|truncatechars:240 }}

                    </div>
                    <div class="ideasketchlist-type">
                        Idea Sketch?? - var!
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
