{% load i18n static %}

<div class="ideadetail-tab">
    <div class="ideadetailtab-header">
        <span class="ideadetailtab-header-content-switcher">
            {% if idea.idea_sketch_archived %}
                <a class="{% if view.display_type == 'idea_sketch_archive' %}active{% endif %}" href="{% url 'idea-sketch-archived-detail' idea.slug %}">Ideasketch</a> |
                <a class="{% if view.display_type == 'idea'%} active {% endif %}" href="{% url 'idea-detail' idea.slug %}">Proposal</a>
            {% else %}
            Ideasketch
            {% endif %}
        </span>
        <h2>{% trans "Idea" %}</h2>
    </div>
    {% for field in idea_list %}
        <div class="ideadetailtab-con-header">
            <h4>{{ field.0 }}</h4>
        </div>
        <div class="ideadetailtab-con-text">
            <p>{{ field.1 }}</p>
        </div>
    {% endfor %}
    {% if idea.proposal %}
        <div class="row ideadetail-funding">
            <div class="col-lg-4 well">
                <h3>€ {{ idea.proposal.budget_requested }},-</h3>
                <p>{% trans 'Funding requested from Advocate Europe' %}</p>
            </div>
            <div class="col-lg-4 well">
                <h3>€ {{ idea.proposal.total_budget }},-</h3>
                <p>{% trans 'Total budget' %}</p>
            </div>
        </div>
        {% for field in proposal_list %}
        <div class="ideadetailtab-con-header">
            <h4>{{ field.0 }}</h4>
        </div>
        <div class="ideadetailtab-con-text">
            <p>{{ field.1 }}</p>
        </div>
    {% endfor %}
    {% endif  %}
</div>
