<div class="ideadetail-tab">
    <div class="ideadetailtab-header">
        <h2>Creators</h2>
    </div>
    <div class="ideadetailtab-con-header">
        <h4>Who is behind this?</h4>
    </div>
    <div class="ideadetailtab-con-text">
        <p class="ideadetailtab-bold-name">
        {{ ideasketch.first_name }}
        {{ ideasketch.last_name }}
        </p>
        <p>
        {{ ideasketch.organisation_name }}
        </p>
        <p>
        {{ ideasketch.organisation_website }}
        </p>
        <p>
        {{ ideasketch.get_organisation_country_display }}
        </p>
    </div>
    <div class="ideadetailtab-con-header">
        <h4>Who is joining forces?</h4>
    </div>
    <div class="ideadetailtab-con-text">
        {% for field in partner_list %}
            {% if field.0 %}
                <p class="ideadetailtab-bold-name">
                {{ field.0 }}
                </p>
                <p>{{ field.1 }}</p>
                <p>{{ field.2 }}</p>
                <br>
            {% endif %}
        {% endfor %}
        <p>{{ ideasketch.partners_more_info }}</p>
    </div>
</div>
