{% extends "base.html" %}

{% load i18n react_comments rules %}

{% block content %}

<div class="ideadetail">
    <div class="container">

        {% include 'advocate_europe_ideas/ideasketch_detail_header.html' %}
        <div class="row ideadetail-tab-bar">
            <div class="col-xs-7 ideadetail-tabs" role="navigation">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">{% trans "Creators" %}</a></li>
                    <li role="presentation" class="active"><a href="#idea" aria-controls="idea" role="tab" data-toggle="tab">{% trans "Idea" %}</a></li>
                </ul>
            </div>
            <div class="col-xs-5">
                <div class="ideadetail-rect-btn-group pull-right" role="group">
                    <a href="#" class="btn" role="button" aria-label="{% trans 'share' %}">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span class="hidden-xs">&nbsp{% trans 'watch' %}</span>
                    </a>
                    <a href="#" class="btn" role="button" aria-label="{% trans 'share' %}">
                        <i class="fa fa-share" aria-hidden="true"></i>
                        <span class="hidden-xs">&nbsp{% trans 'share' %}</span>
                    </a>

                    {% has_perm 'advocate_europe_ideas.change_ideasketch' request.user ideasketch as can_change %}
                    {% if can_change %}
                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownEdit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownEdit">
                            <li><a href="{% url 'idea-sketch-update' ideasketch.slug %}">{% trans "edit" %}</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row tab-content ideadetail-content">
            <div role="tabpanel" class="col-md-offset-1 col-md-7 col-sm-8 col-xs-12 tab-pane" id="info">
                {% include 'advocate_europe_ideas/ideasketch_detail_tab_info.html' %}
            </div>
            <div role="tabpanel" class="col-md-offset-1 col-md-7 col-sm-8 col-xs-12 tab-pane active" id="idea">
                {% include 'advocate_europe_ideas/ideasketch_detail_tab_idea.html' %}
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 ideadetail-info-boxes">
                {% if ideasketch.collaborators.all %}
                    <div class="ideadetail-info-box">
                        <h4>Collaborators</h4>
                        {% for collaborator in ideasketch.collaborators.all %}
                            <p>{{ collaborator.username }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="ideadetail-info-box">
                    <h4>About this idea</h4>
                    {{ ideasketch.idea_pitch }}
                </div>
            </div>
        </div>
        <div class="container-medium ideadetail-comments">
            <h4>{% trans "Write comment" %}</h4>
            {% react_comments ideasketch %}
        </div>
    </div>
</div>

{% endblock %}
