{% load i18n static %}

<div class="ideadetail-tab">
    <div class="ideadetailtab-header">
        <h2>{% trans "Creators" %}</h2>
    </div>
    <div class="ideadetailtab-con-header">
        <h4>{% trans "Who is behind this?" %}</h4>
    </div>
    <div class="ideadetailtab-con-text">
        <p class="ideadetailtab-bold-name">
        {{ ideasketch.first_name }}
        {{ ideasketch.last_name }}
        </p>
        <p>
        {{ ideasketch.organisation_name }}
        </p>
        <p><a href="{{ ideasketch.organisation_website }}">
        {{ ideasketch.organisation_website }}
        </a></p>
        <p>
        {{ ideasketch.get_organisation_country_display }}
        </p>
    </div>
    {% if partner_list %}
        <div class="ideadetailtab-con-header">
            <h4>{% trans "Who is joining forces?" %}</h4>
        </div>
        <div class="ideadetailtab-con-text">
            {% for field in partner_list %}
                <p class="ideadetailtab-bold-name">
                    {{ field.0 }}
                </p>
                <a href="{{ field.1 }}"><p>{{ field.1 }}</p></a>
                <p>{{ field.2 }}</p>
                <br>
            {% endfor %}
            <p>{{ ideasketch.partners_more_info }}</p>
        </div>
    {% endif %}
</div>
