{% extends "base.html" %}

{% load i18n react_comments rules static force_translation idea_tags absolute_url %}

{% block title %} {{ idea.idea_title }} {% endblock %}

{% block social_meta %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Advocate Europe | {{ idea.idea_title }}">
    <meta name="twitter:description" content="{{ idea.idea_pitch }}">
    {% if idea.idea_image_exists %}
        <meta name="twitter:image" content="{% get_absolute_uri obj=idea.idea_image.url %}">
    {% else %}
        <meta name="twitter:image" content="{% get_absolute_uri_static obj='images/logo_01.png' %}">
    {% endif %}


    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="Advocate Europe | {{ idea.idea_title }}">
    <meta property="og:description" content="{{ idea.idea_pitch }}">
    {% if idea.idea_image_exists %}
        <meta property="og:image" content="{% get_absolute_uri obj=idea.idea_image.url %}">
        <meta property="og:image:width" content="{{ idea.idea_image.width }}">
        <meta property="og:image:height" content="{{ idea.idea_image.height }}">
    {% else %}
        <meta property="og:image" content="{% get_absolute_uri_static obj='images/logo_01.png' %}">
        <meta property="og:image:width" content="360">
        <meta property="og:image:height" content="129">
    {% endif %}

{% endblock %}

{% block content %}
    {% force_translation 'en' %}
    <div class="ideadetail">
        <div class="container">

            {% include 'advocate_europe_ideas/includes/idea_detail_header.html' %}

            <div class="row hidden-lg hidden-md hidden-sm ideadetail-xs-support">
                <ul class="nav">
                    {% if view.display_type == 'idea' %}
                    <li class="nav-idea nav-support">
                        {% react_supports idea True %}
                    </li>
                    {% endif %}
                    {% include 'advocate_europe_ideas/includes/idea_detail_watch_btns.html' with xs_class="" spacing="<br>" %}
                </ul>
            </div>

            <div class="row ideadetail-tab-bar">
                <ul class="nav navbar-nav nav-tabs tabs" role="tablist">

                    <li role="presentation" class="nav-item">
                        <a href="#info" class="nav-link" aria-controls="info" role="tab" data-toggle="tab">{% trans "Creators" %}</a>
                    </li>

                    <li role="presentation" class="nav-item {% if not idea.proposal or not idea.is_winner or idea.journeyentry_set.all.count == 0 %}active{% endif %}">
                        <a href="#idea" class="nav-link" aria-controls="idea" role="tab" data-toggle="tab">{% trans "Idea" %}</a>
                    </li>

                    {% if idea.is_winner %}
                        <li role="presentation" class="nav-item {% if idea.proposal and idea.is_winner and idea.journeyentry_set.all.count > 0 %}active{% endif %}">
                            <a href="#journey" class="nav-link" aria-controls="idea" role="tab" data-toggle="tab">{% trans "Project Journey" %}</a>
                        </li>
                    {% endif %}

                    {% include 'advocate_europe_ideas/includes/idea_detail_watch_btns.html' with xs_class="hidden-xs" %}
                </ul>
            </div>

            <div class="row tab-content ideadetail-content">
                <div role="tabpanel" class="col-md-offset-1 col-md-7 col-sm-8 col-xs-12 tab-pane" id="info">
                    {% include 'advocate_europe_ideas/includes/idea_detail_tab_info.html' %}
                </div>
                <div role="tabpanel" class="col-md-offset-1 col-md-7 col-sm-8 col-xs-12 tab-pane  {% if not idea.proposal or not idea.is_winner or idea.journeyentry_set.all.count == 0 %} active {% endif %}" id="idea">
                    {% include 'advocate_europe_ideas/includes/idea_detail_tab_idea.html' %}
                </div>
                {% if idea.is_winner %}
                    <div role="tabpanel" class="col-md-offset-1 col-md-7 col-sm-8 col-xs-12 tab-pane {% if idea.proposal and idea.is_winner and idea.journeyentry_set.all.count > 0 %} active {% endif %}" id="journey">
                        {% include 'advocate_europe_ideas/includes/idea_detail_tab_journey.html' %}
                    </div>
                {% endif %}

                <div class="col-md-3 col-sm-4 col-xs-12 ideadetail-info-boxes">

                    {% if idea.proposal and idea.jury_statement %}
                        <div class="ideadetail-info-box jurystatement">
                            <h4><i class="fa fa-trophy" aria-hidden="true"></i> {% trans 'Why this idea?' %}</h4>
                            <p>{{ idea.jury_statement }}</p>
                        </div>
                    {% endif %}


                    <div class="ideadetail-info-box">
                        <h4>{% trans 'Team' %}</h4>
                        <p>
                            <span class="avatar-round-small" style="background-image: url({{ idea.creator.avatar_or_fallback_url }})"></span>
                            <span class="co-worker">
                                <a href="{% url 'profile' idea.creator.username %}">{{ idea.creator.username }}</a>
                            </span>
                        </p>
                        {% for co_worker in idea.co_workers.all %}
                            <p class="ideadetail-info-box-co-workers">
                                <span class="avatar-round-small no-decoration" style="background-image: url({{ co_worker.avatar_or_fallback_url }})"></span>
                                <span class="co-worker">
                                    <a href="{% url 'profile' co_worker.username %}">{{ co_worker.username }}</a>
                                </span>
                            </p>
                        {% endfor %}
                        <div class="idea-dates">
                            {% trans 'Idea created on' %} {{ idea.created|date }}
                        </div>
                        {% if idea.modified %}
                        <div class="idea-dates">
                            {% trans 'Last edit on' %} {{ idea.modified|date }}
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
            {% if view.display_type == 'idea' %}
                <div class="container-medium ideadetail-comments">
                    <h4 class="ideadetail-comments-title">{% trans "Write comment" %}</h4>
                    {% react_comments idea %}
                </div>
            {% endif %}
        </div>
    </div>
 {% endforce_translation %}
{% endblock %}
