{% extends "base.html" %}

{% block content %}
<div class="ideadetail">
    <div class="container">

        {% include 'advocate_europe_ideas/ideasketch_detail_header.html' %}

        <div class="ideadetail-tabs row" role="navigation">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Creators</a></li>
                <li role="presentation" class="active"><a href="#idea" aria-controls="idea" role="tab" data-toggle="tab">Idea</a></li>
                <li role="presentation"><a href="#reporting" aria-controls="reporting" role="tab" data-toggle="tab">Reporting</a></li>
            </ul>

            <div class="tab-content row ideadetail-content">
                <div role="tabpanel" class="col-md-offset-1 col-md-7 col-sm-8 tab-pane" id="info">
                    {% include 'advocate_europe_ideas/ideasketch_detail_tab_info.html' %}
                </div>
                <div role="tabpanel" class="col-md-offset-1 col-md-7 col-sm-8 tab-pane active" id="idea">
                    {% include 'advocate_europe_ideas/ideasketch_detail_tab_idea.html' %}
                </div>
                <div role="tabpanel" class="col-md-offset-1 col-md-7 col-sm-8 tab-pane" id="reporting">
                    {% include 'advocate_europe_ideas/ideasketch_detail_tab_reporting.html' %}
                </div>
                <div class="col-md-4 col-sm-4 ideadetail-info-boxes">
                    <div class="ideadetail-info-box">
                        <h4>Collaborators</h4>
                    </div>
                    <div class="ideadetail-info-box">
                        <h4>About this idea</h4>
                        {{ ideasketch.idea_pitch }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-medium ideadetail-comments">
            <h4>Write comment</h4>
        </div>
    </div>
</div>
{% endblock %}
