{% extends "base.html" %}

{% load i18n react_comments rules %}

{% block content %}

<div class="ideadetail">
    <div class="container">

        {% include 'advocate_europe_ideas/idea_detail_header.html' %}
        <div class="row ideadetail-tab-bar">
            <div class="col-xs-7 ideadetail-tabs" role="navigation">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">{% trans "Creators" %}</a></li>
                    <li role="presentation" class="active"><a href="#idea" aria-controls="idea" role="tab" data-toggle="tab">{% trans "Idea" %}</a></li>
                </ul>
            </div>
            <div class="col-xs-5">

                <div class="ideadetail-rect-btn-group pull-right" role="group">
                    {% if view.display_type == 'idea' %}
                    <a href="#" class="btn" role="button" aria-label="{% trans 'watch' %}">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span class="hidden-xs">&nbsp{% trans 'watch' %}</span>
                    </a>
                    {% endif %}

                    <a href="#" class="btn" role="button" aria-label="{% trans 'share' %}">
                        <i class="fa fa-share" aria-hidden="true"></i>
                        <span class="hidden-xs">&nbsp{% trans 'share' %}</span>
                    </a>

                    {% if idea.proposal %}
                        {% has_perm 'advocate_europe_ideas.change_idea' request.user idea as can_change_proposal %}
                    {% elif idea.ideasketch %}
                        {% has_perm 'advocate_europe_ideas.change_idea' request.user idea.ideasketch as can_change_sketch %}
                        {% has_perm 'advocate_europe_ideas.add_proposal' request.user idea as can_add_proposal %}
                    {% endif %}
                    {% if can_change_sketch or can_change_proposal or can_add_proposal %}

                    {% if view.display_type == 'idea' %}
                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownEdit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            <span class="hidden-xs">&nbsp{% trans 'more' %}</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownEdit">
                            {% if can_change_sketch %}
                            <li><a href="{% url 'idea-sketch-update' idea.slug %}">{% trans "edit ideasketch" %}</a></li>
                            {% elif can_change_proposal %}
                            <li><a href="{% url 'proposal-update' idea.slug %}">{% trans "edit proposal" %}</a></li>
                            {% endif %}
                            {% if can_add_proposal and not idea.proposal %}
                            <li><a href="{% url 'idea-sketch-add-proposal' idea.slug %}">{% trans 'add full proposal' %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row tab-content ideadetail-content">
            <div role="tabpanel" class="col-md-offset-1 col-md-7 col-sm-8 col-xs-12 tab-pane" id="info">
                {% include 'advocate_europe_ideas/idea_detail_tab_info.html' %}
            </div>
            <div role="tabpanel" class="col-md-offset-1 col-md-7 col-sm-8 col-xs-12 tab-pane active" id="idea">
                {% include 'advocate_europe_ideas/idea_detail_tab_idea.html' %}
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 ideadetail-info-boxes">
                {% if idea.collaborators.all %}
                    <div class="ideadetail-info-box">
                        <h4>Collaborators</h4>
                        {% for collaborator in idea.collaborators.all %}
                            <p>{{ collaborator.username }}</p>
                        {% endfor %}
                      <p>  {{ idea.first_name }}
                        {{ idea.last_name }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if view.display_type == 'idea' %}
        <div class="container-medium ideadetail-comments">
            <h4>{% trans "Write comment" %}</h4>
            {% react_comments idea %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
