.account-top {
    @media screen and (min-width: $screen-md-min) {
        padding-top: rem(60px);
        padding-bottom: rem(60px);
    }

    @media screen and (max-width: $screen-sm-max) {
        padding-top: rem(40px);
        padding-bottom: rem(40px);
    }

    background: linear-gradient(to bottom, $brand-primary rem(162px), #fff 0%);
}

.account-box {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 4px;

    @media screen and (min-width: $screen-sm-min) {
        padding: rem(30px 60px);
    }

    @media screen and (max-width: $screen-xs-max) {
        padding: rem(10px 10px);
    }
}

.account-settings {
    margin-top: rem(60px);

    h1 {
        font-size: rem(24px);
        margin-top: rem(5px);
        margin-left: rem(5px);
    }

    .well {
        padding: rem(10px);
        margin-left: rem(15px);
        border: none;
        border-radius: 0;
        margin-right: rem(15px);
        background-color: $ae-light-gray;
        box-shadow: 0 1px 0 0 $ae-light-gray-shadow;

        .active {
            background-color: #fff;
            color: $gray-dark;
        }

        .transparent {
            color: transparent;
        }
    }

    legend {
        border: none;
        font-size: rem(24px);
        font-weight: bold;
    }

    .list-group {
        margin-bottom: 0;
    }

    .list-group-item {
        border: none;
        background-color: $ae-light-gray;
        padding: rem(9px 13px);

        a,
        a:hover {
            color: $gray-darker;
            text-decoration: none;
            font-size: rem(16px);
        }
    }
}
