.action {
    padding: rem(5px 0);

    border-bottom: 1px solid $ae-dark-gray;

    &:last-child {
        border-bottom: none;
    }

    .action-icon {
        float: left;

        width: rem(50px);
        height: rem(50px);

        margin-right: rem(5px);

        color: $brand-primary;
        background-color: $ae-light-gray;

        text-align: center;
        line-height: rem(50px);
        font-size: rem(24px);
    }

    .action-date {
        float: right;

        margin-left: rem(5px);

        color: $ae-middle-gray;
    }
}
