//blog_index_page and blog_page

.blog-category {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: rem(.8px);
    color: #999;
    text-transform: uppercase;
}

.blog-createdates {
    font-size: 14px;
    color: #999;
}

.blog-image {
    img {
        width: 100%;
        height: auto;
    }
}

//blog_index_page

.blogindex {
    background: linear-gradient(to bottom, $brand-primary rem(162px), #fff 0%);
}

.equal {
    display: flex;
    flex-wrap: wrap;
}

.blogindex-title {
    h1 {
        padding: rem(20px) 0 rem(30px) 0;
        text-align: center;
        color: #fff;
    }
}

.blogindexentry {
    .row {
        margin: 0;
        padding: 0;
    }

    .blogindex-featured {
        margin-bottom: rem(30px);
    }

    .blogindex-all {
        margin-bottom: rem(10px);
    }

    .blogindex-text {
        padding: rem(15px);
        background-color: $ae-light-gray;
        box-shadow: 0 1px 0 0 #ccc;
    }

    .blog-image {
        background-color: $ae-light-gray;
        box-shadow: 0 1px 0 0 #ccc;
        padding: 0;

        img {
            margin: 0;
        }
    }

    a {
        color: #000;
    }
}

.blogindex-topics-xs {
    margin-bottom: rem(30px);
}

.blogindex-topics-first {
    position: absolute;
    top: rem(700px);

    @media screen and (max-width: $screen-lg-min) {
        top: rem(615px);
    }

    @media screen and (max-width: $screen-md-min) {
        top: rem(417px);
    }
}

.blogindex-topics {
    position: absolute;
    top: rem(250px);
}

.btn-topic {
    margin-bottom: rem(5px);
    background-color: $brand-primary;
    border-radius: rem(5px);

    a {
        color: #fff;
        font-size: rem(12px);
        font-weight: bold;
    }
}

.blogindex-pagination {
    text-align: center;

    li > a {
        color: #333;
    }
}


// blog_page

.blogpage {
    .blog-image {
        margin-top: rem(30px);
        margin-bottom: rem(30px);
    }

    .blog-category {
        margin-top: rem(40px);
    }

    .blog-createdates {
        margin-top: rem(10px);
    }
}

.btn-blogpage {

    background-color: $ae-light-gray;
    border-radius: rem(5px);

    a {
        color: #000;
        font-size: rem(16px);
        font-weight: bold;
    }
}

.blogpage-taeser {
    font-size: rem(18px);
}

.blogpage-body {
    font-size: rem(16px);
}
