.block {
    margin-top: 40px;
}

.block-cta {
    color: #fff;
    background-color: $brand-primary;

    &-headline {
        margin: rem(20px 0 10px 0);
    }

    &-text {
        margin: rem(10px 0 20px 0);
    }
}

.block-carousel {
    overflow-x: hidden;
}
