.block {
    padding-top: rem(20px);
    padding-bottom: rem(30px);

    &-title {
        margin: 0;
    }
}

.block-cta {
    color: #fff;
    background-color: $brand-primary;

    &-title {
        margin-top: 0;
    }

    &-text {
        margin-top: rem(10px);
    }

    &-btn {
        font-size: rem(16px);
        padding: rem(10px 18px);
        max-width: 100%;
    }

    &-linktext {
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
    }
}

.block-carousel {
    overflow-x: hidden;

    .slick-initialized {
        .slick-slide {
            display: flex;
        }
    }

    .idealist-item {
        .idealist-text {
            min-height: 276px;
        }

        .idealist-image img {
            height: auto;
        }
    }
}

.block-qa {
    margin-bottom: rem(10px);

    .panel-default {
        border-radius: 5px;
        box-shadow: none;
    }

    .panel-heading {
        background-color: $ae-light-gray;
        border-color: $ae-dark-gray;
    }

    .panel-title {
        font-size: rem(18px);
        line-height: 1.33;
        font-weight: normal;
    }

    .panel-title-link {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .collapsed {
        .fa {
            transform: rotateZ(180deg);
        }
    }

    .panel-body {
        border-top: none !important;
    }
}

.blockblog {
    &-list {
        margin-top: rem(20px);
        margin-bottom: rem(20px);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &-entry {
        display: flex;
        flex-direction: column;
        flex-basis: 90%;

        @media screen and (min-width: $screen-md-min) {
            flex-basis: 30%;
        }

        margin: 0 15px;
        background-color: $ae-light-gray;
        box-shadow: 0 1px 0 0 $ae-light-gray-shadow;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex-grow: 1;

        padding: rem(15px);
    }

    &-text-text {
        flex-grow: 1;
    }

    &-title-link {
        color: $gray-dark;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $ae-middle-gray;
        }
    }

    &-createdates {
        margin-top: rem(10px);
    }

    &-btn {
        border-radius: 5px;
        font-size: 16px;
        padding: rem(10px 18px);
    }
}

.three-column-text-block {
    background-color: $ae-light-gray;

    &-title {
        margin-top: 0;
    }
}

.teasertext-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teasertextblock-btn {
    border-radius: 5px;
    background-color: $brand-primary;
    height: rem(30px);
    max-width: 100%;

    @media screen and (max-width: $screen-sm-min) {
        max-width: rem(200px);
    }

    .teasertextblock-linktext {
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
    }
}

.three-image-block {
    .three-image-block-title {
        text-align: center;
        font-size: 18px;
        line-height: 1.33;
        margin-top: rem(10px);
        margin-bottom: rem(33px);
    }

    .three-image-block-row {
        padding-bottom: rem(30px);
    }

    .three-image-block-image-container {
        height: 30px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        @media screen and (max-width: $screen-sm-min) {
            height: 50px;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
