.block {
    margin-top: 40px;
}

.block-cta {
    color: #fff;
    background-color: $brand-primary;

    &-headline {
        margin: rem(20px 0 10px 0);
    }

    &-text {
        margin: rem(10px 0 20px 0);
    }
}

.block-carousel {
    overflow-x: hidden;

    .proposal-tile {
        margin: rem(0 13px 13px 0);
        overflow: hidden;
        text-align: left;

        min-height: 400px;

        img {
            margin: 0;
        }

        .label {
            position: absolute;
            left: rem(10px);
            bottom: 0;
        }
    }

    .proposal-tile-image-link {
        position: relative;
    }

    .proposal-tile-title {
        font-size: rem(18px);
        font-weight: bold;
        margin-top: rem(4px);
        line-height: 1.33;

        a {
            color: $gray-dark;
        }
    }

    .proposal-tile-label {
        background-color: $brand-secondary;
        color: $gray-dark;
    }

    .proposal-tile-category {
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 0.8px;
        color: $brand-primary;
        font-size: rem(12px);
        margin-bottom: 0;
    }

    .proposal-tile-body {
        padding: rem(10px);
        height: 100%;
        background-color: $ae-light-gray;

        .row {
            margin: 0;
        }
    }
}
