//blog_index_page and blog_page

.blog-category {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: rem(.8px);
    text-transform: uppercase;
    color: $brand-primary;
}

.blog-createdates {
    margin-top: rem(10px);
    font-size: 14px;
    color: $ae-middle-gray;
}

.blog-image {
    img {
        width: 100%;
        height: auto;
    }
}


// ---------------------- blog_index_page -------------------------------

.blogindex {
    background: linear-gradient(to bottom, $brand-primary rem(162px), #fff 0%);
}

.equal {
    display: flex;
    flex-wrap: wrap;
}

.blogindex-category {
    color: $ae-middle-gray;
}

.blogindex-title {
    h1 {
        padding: rem(20px) 0 rem(30px) 0;
        text-align: center;
        color: #fff;
    }
}

.blogindex-no-entry {
    margin-top: rem(100px);
    margin-left: 0;
    margin-right: 0;
    text-align: center;

    @media screen and (max-width: $screen-xs-max) {
        margin-top: rem(20px);
    }
}

// blog index page entries

.blogindexentry {
    .row {
        margin: 0;
        padding: 0;
    }

    .blogindex-featured {
        margin-bottom: rem(30px);
    }

    .blogindex-all {
        margin-bottom: rem(10px);
    }

    .blogindex-text {
        padding: rem(15px);
        background-color: $ae-light-gray;
        box-shadow: 0 1px 0 0 $ae-light-gray-shadow;
    }

    .blogindexentry-title {
        a {
            color: $gray-dark;
        }
    }

    .blogindexentry-title:hover a,
    .blogindexentry-title:focus a {
        text-decoration: none;
        color: $ae-middle-gray;
    }
}

.blog-index-image {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .5s;

    &-list,
    &-feat {
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        position: relative;
        box-sizing: content-box;
        overflow: hidden;
        padding: 0;

        &:hover .blog-index-image,
        &:focus .blog-index-image {
            transform: scale(1.05);
        }
    }

    &-list {
        min-height: rem(300px);

        @media screen and (max-width: $screen-md-max) {
            min-height: rem(230px);
        }

        @media screen and (max-width: $screen-sm-max) {
            min-height: rem(200px);
        }
    }

    &-feat {
        min-height: rem(500px);

        @media screen and (max-width: $screen-md-max) {
            min-height: rem(300px);
        }

        @media screen and (max-width: $screen-sm-max) {
            min-height: rem(230px);
        }
    }
}

// *********** blogindex category buttons **********************

.category-title {
    margin-top: 0;
}
// the categories need to be in a column left to the blog entries

.blogindex-topics-neg-margin {
    margin-right: -16.6%;

    @media screen and (max-width: $screen-sm-max) {
        margin-right: -25%;
    }
}

// if theres no featured blog entry shown, the categories have to be shown a bit further down, so that they are below the blue header banner

.topics-no-featured {
    margin-top: rem(50px);
}

.blogindex-category-btn {
    margin-bottom: rem(5px);
    white-space: normal;
    font-size: rem(12px);
    font-weight: bold;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        text-decoration: none;
    }

    &.active {
        .fa,
        .category-name {
            font-size: rem(12px);
            font-weight: bold;
        }
    }

    @media screen and (min-width: $screen-sm-min) {
        max-width: rem(150px);
    }

    .category-name {
        word-wrap: break-word;
    }

    .btn-groupie {
        padding: 0;
        white-space: normal;
        // make btns in group same height
        float: none;
        display: table-cell;

        &:active {
            box-shadow: none;
        }

        @media screen and (min-width: $screen-sm-min) {
            max-width: rem(110px);
        }
    }
}


// ---------------------- blog_page --------------------------

.blogpage {
    margin-top: rem(40px);
    margin-bottom: rem(60px);

    .blog-image {
        margin-top: rem(30px);
        margin-bottom: rem(30px);
    }

    .blog-image-caption {
        font-style: italic;
        margin-top: rem(6px);
        font-size: rem(14px);
    }

    .blog-category {
        margin-top: rem(40px);
        color: $brand-primary;
    }

    .blog-createdates {
        margin-top: rem(10px);
    }
}

.blogpage-btn {
    font-size: rem(16px);
    font-weight: bold;

    .fa {
        padding-right: rem(5px);
    }
}

.blogpage-taeser {
    font-size: rem(18px);
}

.blogpage-body {
    font-size: rem(16px);
}
