.call-to-action-tile.idealist-item {
    background-color: $brand-primary;
    align-items: center;
    color: #fff;

    .call-to-action-img {
        padding: 0;

        img {
            width: 100%;
        }
    }

    .call-to-action-link {
        color: #fff;
        text-decoration: underline;
    }

    .call-to-action-btn {
        margin-bottom: rem(25px);
        font-size: 16px;
        font-weight: 600;
    }
}
