.call-to-action-tile.idealist-item {
    background-color: $brand-primary;
    padding: rem(20px 12px);
    align-items: center;
    color: #fff;

    .call-to-action-link {
        color: #fff;
        text-decoration: underline;
    }

    .call-to-action-btn {
        font-size: 16px;
        font-weight: 600;
    }
}
