.django-ckeditor-widget {
    width: 100%;

    .cke_top,
    .cke_bottom,
    .cke_toolgroup {
        box-shadow: none;
        background: #e7ecee;
    }

    .cke_toolgroup {
        border: 0;
        border-radius: 0;
    }
}
