.black-divider {
    display: none;
}

.comment-box {
    & textarea {
        margin-top: rem(10px);
        border-radius: 5px;
        background-color: $ae-lighter-gray;
        border: 1px solid $ae-light-gray-shadow;
        @include rem(font-size, 14px);
    }

    .submit-button {
        @extend .btn;
        @extend .btn-primary;
        margin-right: rem(5px);
    }

    .cancel-button {
        @extend .btn;
        @extend .btn-danger;
    }
}

.comment {
    margin-top: rem(10px);

    .comment-author {
        display: inline-block;
        margin-right: rem(10px);

        a {
            font-size: rem(16px);
            line-height: 1.5;
            color: $gray-dark;
        }

        .label-subtle {
            background-color: $ae-middle-gray;
            text-transform: uppercase;
            padding: rem(3px) rem(6px);
            font-size: rem(12px);
            vertical-align: middle;
            margin-left: 5px;
        }
    }

    .comment-deleted-author {
        display: inline-block;
        margin-right: rem(10px);
        font-size: rem(16px);
        font-weight: $demibold;
        line-height: 1.5;
    }

    .comment-child-list {
        padding-left: rem(20px);
    }

    .comment-submission-date {
        display: inline-block;
        font-size: rem(16px);
        color: $ae-middle-gray;
    }

    .comment-text {
        font-size: rem(16px);
        color: $gray-dark;
    }

    .navbar-default {
        background-color: transparent;
        border: none;
        margin-bottom: 0;
    }

    .navbar-nav {
        display: inline-block;
        margin: 0;

        .dropdown-toggle {
            @extend .btn;
            @extend .btn-default;
            margin-left: rem(5px);
            border: none;
            height: rem(30px);
            width: rem(30px);
            border-radius: 5px;
            padding: 0;
            text-align: center;
            vertical-align: baseline;
        }
    }

    .open .dropdown-menu {
        position: absolute;
        background-color: #fff;
        padding: 0;
        border: none;
        border-radius: 5px;
        min-width: rem(80px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

        li.divider {
            height: rem(1px);
            background-color: $ae-dark-gray;
            margin: 0;
        }

        li > button {
            background-color: transparent;
            border: 0;
            width: 100%;
        }

        li > button,
        li > a {
            font-size: rem(14px);
            color: $gray-dark;
            text-align: left;
            padding: rem(3px) rem(10px);
        }
    }

    .navbar {
        min-height: 0;
        padding-top: rem(10px);

        // show answers

        .comment-reply-button {

        }
    }

    .navbar-right {
        float: right;
        display: block;

        .comment-reply-button {
            @extend .btn;
            @extend .btn-default;
            background-color: $btn-default-bg;
            border: none;
            padding: 0 rem(11px);
            height: rem(30px);
            vertical-align: baseline;
            font-size: rem(16px);
        }

        i.fa {
            padding-right: rem(5px);
        }
    }
}

.rating {
    display: inline-block;
    float: left;

    .rating-button {
        @extend .btn;
        @extend .btn-default;
        border: none;
        padding: 0 rem(11px);
        height: rem(30px);
        vertical-align: baseline;
    }

    .rating-up {
        border-right: rem(1px) solid $ae-dark-gray;
        border-radius: 5px 0 0 5px;

        i.fa {
            padding-right: rem(5px);
            color: $brand-success;
        }
    }

    .rating-down {
        border-radius: 0 5px 5px 0;

        i.fa {
            padding-right: rem(5px);
            color: $brand-danger;
        }
    }
}
