.custom-form {
    margin-top: 50px;
    margin-bottom: 50px;
    color: $gray-dark;

    label {
        font-size: 16px;
    }

    h1 {
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 24px;
    }

    .form-section_title {
        h1 {
            text-transform: none;
            text-align: right;
            color: $gray-light;
        }
    }

    .form-control {
        border-radius: 0;
        border-color: $ae-dark-gray;
        background-color: $ae-light-gray;
        box-shadow: none;
    }

    .form-error {
        border-color: $brand-danger;
    }

    .errorlist {
        list-style-type: none;
        padding-left: 0;
        color: $brand-danger;
        font-size: 16px;
    }


    & .custom-form-wizard {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
    }
}
