.custom-form {
    color: $gray-dark;

    label {
        font-size: rem(16px);
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    h1 {
        margin-top: rem(10px);
        margin-bottom: rem(20px);
        font-size: rem(24px);
    }

    .help-block {
        margin-top: 0;
        margin-bottom: rem(5px);
    }

    .form-group {
        margin-bottom: rem(20px);
    }

    .form-control {
        border-radius: 0;
        border-color: $ae-dark-gray;
        background-color: $ae-light-gray;
        box-shadow: none;
        height: 40px;

        &.textarea {
            height: auto;
        }
    }

    .form-error {
        border-color: $brand-danger;
    }

    .form-control-danger {
        border: solid 1px $brand-danger;
    }

    .has-error {
        .control-label {
            color: $text-color;
        }

        .help-block {
            color: lighten($text-color, 25%);
        }

        .error-block {
            position: relative;
            background: $brand-danger;
            color: #fff;
            margin: 0;
            padding: rem(2px 2px 2px) 2em;
        }

        .error-block:before {
            position: absolute;
            left: 0.5em;
            display: inline;
            font-family: "FontAwesome";
            content: "\F071";
        }
    }

    .errorlist {
        list-style-type: none;
        padding-left: 0;
        color: $brand-danger;
        font-size: 16px;
    }
}

.accordion-toggle {
    .fa {
        float: right
    }

    &.collapsed .fa {
        transform: rotateZ(180deg);
    }
}

.form-link {
    font-weight: bold;
    font-size: rem(16px);
    margin-top: rem(-20px);
    margin-bottom: rem(30px);
    text-transform: capitalize;
}
