.error-top {
    padding-top: rem(40px);
    padding-bottom: rem(40px);

    background: linear-gradient(to bottom, $brand-primary rem(162px), #fff 0%);
}

.error-box {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 4px;
    padding: rem(40px);

    .fa {
        color: $ae-brand-orange;
    }

    .error-status {
        font-size: rem(72px);
        font-weight: bold;
    }

    .error-message {
        font-size: rem(18px);
        font-weight: $demibold;
        margin-top: rem(20px);
        margin-bottom: rem(20px);
    }

    .error-btn {
        font-size: rem(16px);
        padding: rem(10px 20px);
    }
}


// The fa-stacking was too small.
// The following classes work like the fa-classes as commented
//.fa-3x

.error-stack-size {
    font-size: rem(72px);
}

//still the same as .fa-stack

.error-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

//.fa-stack-1x,
//.fa-stack-2x

.error-stack-1x,
.error-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.error-stack-1x {
    line-height: inherit;
    padding-top: rem(10px);
}

.error-stack-2x {
    font-size: rem(144px);
}
