.error-top {
    @media screen and (min-width: $screen-md-min) {
        padding-top: rem(60px);
        padding-bottom: rem(60px);
    }

    @media screen and (max-width: $screen-sm-max) {
        padding-top: rem(40px);
        padding-bottom: rem(40px);
    }

    background: linear-gradient(to bottom, $brand-primary rem(162px), #fff 0%);
}

.error-box {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 4px;

    @media screen and (min-width: $screen-sm-min) {
        padding: rem(30px 60px);
    }

    @media screen and (max-width: $screen-xs-max) {
        padding: rem(10px 10px);
    }
}
