.idealist {
    .idealist-controls {
        padding: rem(15px) rem(20px) rem(20px) rem(20px);
        background-color: $ae-lighter-gray;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;

        @media screen and (max-width: $screen-xs-max) {
            background-color: white;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .export-btn {
            margin: rem(5px) rem(5px) rem(5px) 0;
        }
    }
}

.idealist-filter {
    .filter-element {
        @media screen and (min-width: $screen-md-min) {
            margin: rem(5px) rem(5px) rem(5px) 0;
        }
    }

    // only pull right on medium and large screens

    .right {
        @media screen and (min-width: $screen-md-min) {
            float: right;
        }
    }

    .filter-label {
        margin-bottom: rem(2px);
        font-size: rem(10px);
        font-weight: $demibold;
        letter-spacing: rem(1px);
        text-transform: uppercase;
        color: $ae-middle-gray;
    }

    .filter-element {
        width: 100%;

        .dropdown-menu {
            min-width: 100%;
            height: auto;
            max-height: 300px;
            overflow-x: hidden;
        }
    }

    .filter-element .btn-filter {
        .drop-down-caret {
            margin-left: rem(8px);
            float: right;
            line-height: rem(20px);
        }

        width: 100%;
    }

    .filter-element .value-label {
        float: left;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media screen and (max-width: $screen-md-max) {
            width: rem(76px);
        }
    }

    .search-filter {
        width: 100%;
        position: relative;
        height: 33px;
        margin-bottom: 40px;
    }

    .filter-element .search-filter {
        border-radius: 5px;
        background-color: #fff;
        border: solid 1px $ae-light-gray-shadow;
        color: $gray-dark;

        .search-filter-btn {
            position: absolute;
            right: 0;
        }
    }

    .search-filter-input {
        border: none;
        height: 100%;
        line-height: rem(20px);
        padding: rem(6px 12px);
        border-radius: 5px;
        width: 100%;
        float: left;
    }

    .mobile-filter {
        margin-top: rem(20px);
        float: none;
        width: 100%;
        border-radius: 5px;
        border: solid 1px $ae-dark-gray;

        .btn-collapse {
            width: 100%;
            height: rem(40px);
            margin: 0;
            padding: rem(8px) rem(12px);
            background-color: $gray-lighter;
            border: none;
            font-size: rem(18px);
        }

        .btn-label {
            float: left;
        }

        .btn-collapse .fa,
        .btn-collapse .fas,
        .btn-collapse .far {
            float: right;
            margin-top: rem(5px);
        }

        .number-of-filters {
            position: absolute;
            margin-left: rem(10px);
            padding: rem(3px);
            width: rem(25px);
            height: rem(25px);
            border-radius: 50%;
            background-color: $ae-brand-orange;
            font-size: rem(14px);
            text-align: center;
        }

        .collapsed .fa,
        .collapsed .fas,
        .collapsed .far {
            transform: rotateZ(180deg);
        }

        .card-block {
            text-align: center;
            padding: rem(15px) 0;
        }

        label {
            float: left;
        }

        .filter-element {
            width: 90%;
            margin: rem(5px) rem(5px);
        }

        .filter-element:nth-child(2n+3) .dropdown-menu {
            right: 0;
            left: auto;
        }
    }
}

.filter-list {
    padding-left: 0;
    margin-left: rem(5px);
    margin-right: rem(5px);
    list-style: none;
}

@media screen and (min-width: $screen-sm-min) {
    .filter-bar .filter-list {
        float: left;
    }

    .filter-bar .filter-list-sort {
        float: right;
    }
}

.filter-list-item {
    display: inline-block;

    a {
        color: $gray;
    }

    .selected {
        color: $brand-primary;
    }

    & + :before {
        content: '| ';
    }
}

.filter-ordering {
    padding-bottom: rem(40px);

    .filter-element {
        padding-top: rem(40px);
    }
}
