.herounit {
    background-size: cover;
    text-align: left;
    min-height: 500px;
    position: relative;
    padding: rem(40px) 0;

    // centering the container vertically and horizontally
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media only screen and (max-width: $screen-xs) {
        min-height: 200px;
    }

    &:after {
        background: rgba(0, 0, 0, 0.5);
        content: '\A';
        left: 0;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    a {
        vertical-align: top;
    }
}

.herounit-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.herounit-header {
    color: #fff;
    position: relative;
    z-index: 1;

    .button {
        margin-top: rem(13px);
    }

    a:not(.btn) {
        color: #fff;

        &:hover {
            color: $gray-light;
        }
    }
}

.herounit-title {
    font-size: rem($ae-font-size-extra-large);
    margin: rem(0 0 10px 0);

    @media screen and (max-width: $screen-md-max) {
        padding: rem(0 40px);
    }

    @media screen and (max-width: $screen-xs) {
        font-size: rem($font-size-base);
        padding: rem(0 10px);
    }

    font-weight: normal;
    color: #fff;
    margin-bottom: rem(10px);

    &:after {
        background: rgba(0, 0, 0, 0.5);
        content: '\A';
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.herounit-content {
    margin-left: rem(15px);
}

.herounit-description {
    margin-bottom: rem(15px);
    font-size: rem(20px);
    font-weight: bold;
    line-height: 1.38;

    @media screen and (max-width: $screen-sm-max) {
        padding: 0;
    }
}

.herounit-video {
    .close {
        position: absolute;
        top: -25px;
        right: -20px;
        font-size: 30px;
    }
}
