.idealist-no-entry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: rem(50px);
    min-height: rem(150px);
}

.idealist-title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $brand-primary;
    height: rem(122px);
    color: #fff;
    font-weight: bold;
}

.idealist-subtitle {
    margin-top: 0;
}

.idealist-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;

    &-4 .idealist-itemwrapper {
        @media screen and (min-width: $screen-sm-min) {
            flex-basis: 50%;
        }

        @media screen and (min-width: $screen-md-min) {
            flex-basis: 33.33%;
        }

        @media screen and (min-width: $screen-lg-min) {
            flex-basis: 25%;
        }
    }

    &-3 .idealist-itemwrapper {
        @media screen and (min-width: $screen-md-min) {
            flex-basis: 50%;
        }

        @media screen and (min-width: $screen-lg-min) {
            flex-basis: 33.33%;
        }
    }
}

.idealist-itemwrapper {
    display: flex;
    flex-direction: column;

    width: 100%;

    .idealist-item {
        //https://github.com/philipwalton/flexbugs/tree/676abf342f9284c0fc616ee9c69006eb35a0b2d6#7-flex-basis-doesnt-account-for-box-sizingborder-box
        margin: rem(5px 5px);
    }
}

.idealist-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    background-color: $ae-light-gray;
    min-height: rem(400px);
    box-shadow: 0 1px 0 0 $ae-light-gray-shadow;

    .idealist-image:after {
        content: '';
        background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
    }

    .idealist-text {
        padding: rem(12px);

        a {
            color: $gray-dark;
        }
    }

    .idealist-footer {
        padding: rem(12px);
        box-shadow: 0 -1px 0 0 $ae-dark-gray;

        .fa {
            padding-left: rem(10px);
        }
    }

    .idealist-tile-title:hover a,
    .idealist-tile-title:focus a {
        text-decoration: none;
        color: $ae-middle-gray;
    }
}

.idealist-category {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: rem(.8px);
    text-transform: uppercase;
    color: $brand-primary;
}

.idealist-found {
    text-align: center;

    &.margin {
        margin-top: rem(20px);
    }
}


// ------------------------ Idea Detail ------------------------
// ------------------------ Idea Detail Header ------------------------

.ideadetail {
    background: linear-gradient(to bottom, $brand-primary rem(500px), #fff 0%);
}

.ideadetail-header {
    .ideadetail-image {
        // background-image and gradient in ideasketch_detail_header.html
        background-position: center center;
        background-size: cover;
        height: rem(320px);
        border-top-left-radius: rem(5px);
        border-top-right-radius: rem(5px);

        @media screen and (min-width: $screen-md-min) {
            height: rem(350px);
            margin-top: rem(40px);
        }
    }

    .ideadetailheader-content {
        height: 100%;
        margin-left: rem(20px);

        @media screen and (max-width: $screen-xs-max) {
            margin-left: rem(10px);
        }
    }

    .ideadetailheader-left {
        height: 100%;
        padding: 0;
    }

    .ideadetailheader-right {
        height: 100%;
        padding: 0;
    }

    .ideadetail-title {
        color: #fff;
        position: absolute;
        left: 0;
        bottom: rem(10px);

        @media screen and (max-width: $screen-sm-max) {
            bottom: 0;
        }
    }

    .ideadetail-category {
        margin-top: rem(15px);
        margin-bottom: rem(10px);
        font-size: rem(12px);
        font-weight: bold;
        letter-spacing: rem(.8px);
        text-transform: uppercase;
    }

    h3 {
        margin-top: 0;

        @media screen and (max-width: $screen-sm-max) {
            font-size: rem(18px);
        }
    }

    h4 {
        @media screen and (max-width: $screen-sm-max) {
            font-size: rem(14px);
        }
    }
}

.ideadetail-btn {
    margin-top: rem(20px);
    color: $gray-base;
    font-size: rem(16px);
    font-weight: 600;

    .fa {
        padding-right: rem(5px);
    }

    @media screen and (max-width: $screen-sm-max) {
        margin-top: rem(10px);
        font-size: rem(14px);
    }
}

// -------------------- Idea Detail Header Support Button --------------------

.ideadetail-support-btn-group {
    margin-top: rem(10px);
    background-color: $brand-primary;
    border-radius: rem(5px);
    color: #fff;

    .btn {
        font-size: rem(18px);
        font-weight: 600;
        border: 0.5px solid $brand-primary-darker;
    }

    @media screen and (min-width: $screen-sm-min) {
        position: absolute;
        right: rem(20px);
        bottom: rem(10px);
    }

    @media screen and (min-width: $screen-md-min) {
        bottom: rem(20px);
    }
}

// ------- Idea Detail XS support, watch, share -----

.ideadetail-xs-support {
    background-color: $brand-primary-darker;
}

// ----------------- Idea Detail Buttons: Watch, Share, ... -----------------

.nav .nav-idea {
    margin-right: 0;
    float: right;

    &:hover {
        background-color: darken($btn-default-bg, 10%);
        border-color: darken($btn-default-border, 12%);
    }

    .btn-idea,
    .btn-follow {
        background-color: transparent;
        padding: rem(14px 20px);

        margin-right: 0;
        border: none;
        border-left: 1px solid $ae-dark-gray;
        border-radius: 0;

        color: $gray-base;

        font-size: rem(14px);
        font-weight: 500;
    }

    .dropdown-follow {
        display: block;
    }

    .fa-socialshare {
        @include rem(width, 22px);
    }

    @media screen and (max-width: $screen-xs-max) {
        .btn-idea:hover,
        .btn-follow:hover {
            background-color: darken($brand-primary-darker, 10%);
        }

        .btn-idea,
        .btn-follow {
            padding: rem(12px 20px 9px 20px);
            border: none;
            color: #fff;
            background-color: $brand-primary-darker;
            font-size: rem(18px);
        }

        .btn-idea-label,
        .btn-follow-label {
            display: block;
            font-size: rem(12px)
        }
    }
}

.nav .nav-support {
    float: left;
    background-color: $brand-primary;

    .btn-idea {
        background: $brand-primary;
    }

    &:hover {
        background-color: darken($btn-primary-bg, 10%);
    }

    a,
    a:hover,
    a:active,
    a:focus,
    a:visited {
        background-color: transparent;
        padding: 0;
    }

    .btn-support {
        padding: rem(10px) rem(20px) rem(9px) rem(20px);
    }
}

// -------------------- Idea Detail Tabs and Tab Content --------------------

.ideadetail-tab-bar {
    background-color: $ae-light-gray;

    .tabs {
        margin-top: 0;
        padding-left: rem(10px);
        width: 100%;
    }
}

.ideadetail-content {
    margin-bottom: rem(60px);
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: rem(5px);
    border-bottom-right-radius: rem(5px);
    padding-bottom: rem(60px);
}

.ideadetail-info-boxes {
    margin-top: rem(20px);

    @media screen and (min-width: $screen-md-min) {
        margin-top: rem(40px);
    }
}

.ideadetail-info-box {
    margin-bottom: rem(10px);
    background-color: $ae-light-gray;
    padding: rem(10px) rem(12px);

    &.jurystatement {
        background-color: $ae-brand-orange;

        p {
            font-weight: normal;
        }
    }

    p {
        font-weight: 600;
    }

    .collaborator {
        margin-left: rem(6px);

        a {
            color: $gray-dark;
        }
    }
}

.ideadetailtab-header-content-switcher {
    a {
        color: $gray-dark;
    }

    .active {
        color: $brand-primary;
    }
}

.ideadetail-tab {
    .ideadetailtab-header {
        font-weight: bold;
        margin-top: 40px;

        h2 {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    h2 {
        margin-top: rem(40px);

        @media screen and (max-width: $screen-xs-max) {
            margin-top: rem(20px);
        }
    }

    h4 {
        font-weight: bold;
        margin-bottom: rem(5px);
        margin-top: rem(30px);

        @media screen and (max-width: $screen-sm-max) {
            margin-top: rem(20px);
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: rem(16px);
            margin-top: rem(10px);
        }
    }

    .ideadetailtab-con-text {
        font-size: rem(16px);

        @media screen and (max-width: $screen-xs-max) {
            font-size: rem(14px);
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        a {
            color: $gray-base;
        }
    }

    .ideadetailtab-bold-name {
        font-weight: bold;
    }
}

.ideadetail-controls {
    padding-top: rem(20px);
}

// -------------------- Idea Detail Comments --------------------

.ideadetail-comments {
    margin-bottom: rem(60px);
}

.idea_label {
    text-transform: uppercase;
    padding: rem(3px) rem(6px);
    font-size: rem(12px);
    vertical-align: middle;
}

.idealist-label {
    @extend .idea_label;
    position: absolute;
    bottom: rem(10px);
    left: rem(10px);
    z-index: 1;
}

.winner {
    background-color: $ae-brand-orange;
    color: $gray-dark;
}

.shortlist {
    background-color: $brand-magenta;
}

.communityaward {
    background-color: $brand-primary;
}

.ideadetail-funding {
    margin-left: 0;
    margin-top: 20px;

    .well {
        width: 30%;
        background-color: $ae-light-gray;
        border-radius: 0;
        border: none;
        padding: 10px;
        margin-right: 10px;
        min-height: 85px;
        box-shadow: 0 1px 0 0 $ae-light-gray-shadow;

        @media screen and (max-width: $screen-sm-max) {
            min-height: 120px;
        }
    }

    h3 {
        font-size: rem(18px);
        margin-top: 0;
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 0;
    }
}
