.journey {
    margin-top: rem(30px);

    h3 {
        font-size: rem(18px);
        margin-top: rem(5px);
        margin-bottom: rem(5px);
    }
}

.journey-category {
    color: $brand-primary;
    text-transform: uppercase;
    font-size: rem(12px);
    font-weight: bold;
    letter-spacing: 0.8px;
}

.journey-entry {
    margin-bottom: rem(43px);
    font-size: rem(16px);

    img {
        width: 100% !important;
        height: auto !important;
        max-width: 100%;
    }

    .co-worker {
        margin-left: rem(6px);
        color: $ae-middle-gray;
    }

    .co-worker-link {
        margin-right: rem(10px);
        color: $gray-dark;
        font-size: 14px;
        font-weight: 600;
    }
}

.journey-link {
    padding: 0;
    margin-left: rem(10px);
    font-weight: 600;
    text-decoration: underline $brand-primary;
}

.journey-btn {
    margin: 0;
    padding: rem(10px) rem(18px);
    border: none;
    font-size: rem(16px);
    font-weight: 600;
    line-height: 1.25;
}


//---------- Journey Create/Update Views --------------------

.journey-form-top {
    @media screen and (min-width: $screen-md-min) {
        padding-top: rem(40px);
        padding-bottom: rem(60px);
    }

    @media screen and (max-width: $screen-sm-max) {
        padding-top: rem(40px);
        padding-bottom: rem(40px);
    }

    background: linear-gradient(to bottom, $ae-lighter-gray rem(360px), #fff 0%);
}

.journey-form-btn-box {
    padding-left: 0;
    padding-bottom: rem(20px);

    .journey-form-btn {
        font-size: rem(16px);
        font-weight: 600;

        .fa {
            padding-right: rem(5px);
        }

        @media screen and (max-width: $screen-sm-max) {
            font-size: rem(14px);
        }
    }
}

.journey-form-box {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 4px;

    @media screen and (min-width: $screen-sm-min) {
        padding: rem(20px);
    }

    @media screen and (max-width: $screen-xs-max) {
        padding: rem(10px);
    }

    .journey-form-idea {
        font-size: 16px;
        font-weight: 600;
    }
}

.journey-form-save-btn {
    font-size: rem(16px);
    font-weight: 600;
    padding: rem(9px 18px);

    @media screen and (max-width: $screen-sm-max) {
        font-size: rem(14px);
    }
}
