.login-register-top {
    background: linear-gradient(to bottom, $brand-primary rem(360px), #fff 0%);
}

.login-register {
    padding-top: rem(60px);
}

.login-register-tabs {
    background-color: $ae-light-gray;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    justify-content: center;
}

.login-register-form {
    background-color: white;
    padding: rem(40px) rem(30px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.socialaccounts {
    text-align: center;
    margin-top: rem(30px);
}

.socialaccounts-heading {
    font-size: rem(16px);
}


.socialaccount-providers {
    list-style-type: none;
    padding-left: 20%;
    padding-right: 20%;
}

.socialaccount-provider {
    margin-bottom: rem(10px);
}

.login-register-btn-group {
    .btn-default {
        margin-right: rem(10px);
    }
}
