.ae-pagination {
    text-align: center;

    li > a {
        color: $gray-dark;
        border: solid 1px $ae-light-gray-shadow;
    }

    .active > a {
        color: $gray-dark;
        background-color: $ae-light-gray;
        border: solid 1px $ae-light-gray-shadow;
    }
}
