.profile-header {
    background-color: $brand-primary;
}

.profile-title {
    font-size: rem(24px);
}

@media screen and (min-width: $screen-sm-min) {
    .profile-image-holder {
        position: relative;
        height: rem(120px);

        .profile-image {
            position: absolute;
            bottom: rem(-100px);
            width: rem(170px);
            height: rem(170px);
        }
    }
}

@media screen and (max-width: $screen-xs-max) {
    .profile-image-holder {
        .profile-image {
            margin: rem(10px);
            width: rem(80px);
            height: rem(80px);
        }
    }
}

.profile-image {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2)
}

.profile-navbar {
    background-color: $ae-light-gray;
    border-bottom: 1px solid $ae-dark-gray;

    .nav-tabs {
        border-bottom: none;
    }
}

.profile-traits {
    list-style: none;
    padding: rem(10px 0);

    .trait-icon {
        color: $ae-middle-gray;
    }
}

.profile-info-pane {
    font-size: rem(16px);
}

.profile {
    padding-bottom: rem(60px);

    @media screen and (max-width: $screen-sm-min) {
        padding-bottom: rem(15px);
    }

    .profile-navbar {
        margin-bottom: rem(20px);
    }
}


@media screen and (min-width: $screen-sm-min) {

    /* Ensure that info sidebar is always visible in sm
       and above and only a tab in xs
     */

    .profile-tab-content .profile-info-pane {
        display: block;
        padding-top: rem(35px);
    }
}

.profile-form {
    margin-top: rem(60px);

    h1 {
        font-size: rem(24px);
        margin-top: 0;
    }

    .well {
        padding-top: rem(10px);
        padding-left: rem(15px);
        margin-left: rem(15px);
        border: none;
        border-radius: 0;
        margin-right: rem(15px);
        background-color: $ae-light-gray;

        .active {
            background-color: #fff;
            color: $gray-dark;
        }

        i {
            margin-right: 10px;
        }
    }

    legend {
        border: none;
        font-size: rem(24px);
        font-weight: bold;
    }

    .list-group-item {
        border: none;
        background-color: $ae-light-gray;

        a,
        a:hover {
            color: $gray-darker;
            text-decoration: none;
        }
    }
}
