.select-item {
    min-width: rem(200px);

    // overwrite more specific styling for element in dropdown menu
    // can probably made unimportant with bootstrap update?!
    // and if we change our bootstrap-like styling in dropdowns.scss
    padding-left: rem(30px) !important;
    padding-top: rem(5px) !important;
    padding-bottom: rem(5px) !important;

    position: relative;

    white-space: normal;
    font-size: $font-size-base;
}

.select-item-active {
    color: $gray-dark;
}

.select-item-title {
    font-weight: bold;
}

.select-item-desc {
    display: block;
    font-size: $font-size-small;
}

.select-item-indicator {
    position: absolute;
    top: rem(5px);
    left: rem(10px);
}
