.tabs {
    .nav-tabs {
        height: rem(50px);
        border: none;
    }

    li {
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: $gray-base;
            background-color: $ae-light-gray;
            border: 0;
            font-size: rem(16px);
            font-weight: 600;
            padding-right: 30px;
            padding-left: 30px;
        }
        margin-top: rem(10px);
        border-bottom: 1px solid white;
    }

    li.active {
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: $brand-primary;
            background-color: white;
            border: 0;
        }
    }
}
