.tabs {
    margin-bottom: 0;
    min-height: 0;
    width: 100%;

    .nav-item {
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: $gray-base;
            font-size: rem(18px);
            font-weight: 600;
            padding-top: rem(8px);
            padding-right: rem(30px);
            padding-bottom: rem(8px);
            padding-left: rem(30px);
            border-radius: 0;
        }
        margin-top: rem(10px);
    }

    .nav-item.active {
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: $brand-primary;
            background-color: white;
        }
    }
}
