.navbar {
    .user-indicator {
        height: $navbar-height;
    }
}

#user-indicator {
    margin-left: 40px;
    min-width: 180px;
    position: relative;
    display: block;

    .dropdown-menu {
        padding-bottom: 1px;

        a, button {
            &:hover,
            &:focus,
            &.is-active {
                background-color: transparent;
                text-decoration: underline;
            }
        }

        button {
          width: 100%;
          border: 0;
          text-align: left;
          @include rem(padding, 7px 0 7px 15px);
          background-color: transparent;
        }

        .logout-button-form {
          background-color: $gray-lighter;
        }

        li {
          position: relative;

          i, img {
            position: absolute;
            width: 20px;
            text-align: center;
          }
        }

      .dropdown-text {
          @include rem(padding-left, 30px);
      }

    }

    .btngroup {
      margin-top: $navbar-padding-vertical / 2;
      display: block;

      &.open a {
        border: 0;
      }

      a {
        color: $gray-dark;
        display: inline-block;
        @include rem(padding, 7px 15px);

        &.userindicator-profile {
          border-radius: 4px 0 0 4px;
          background-color: $ae-light-gray;
          margin-right: -3px;
          border-right: 1px solid $ae-dark-gray;
        }

        &.dropdown-toggle {
          border-radius: 0 4px 4px 0;
          background-color: $ae-light-gray;
        }

      }

      #user-login {
        border-radius: 4px;
        border: 2px solid $ae-dark-gray;
        background-color: $navbar-default-bg;
      }


    }

}
