.user-indicator {
    min-width: 180px;
    position: relative;
    display: block;

    &-menu {
        padding-bottom: 0;
    }

    &-logout-form {
        background-color: $gray-lighter;
    }

    &-btn-group {
        margin-top: $navbar-padding-vertical/1.5;
        display: block;
        position: static; // overwrite position relative of button group
        height: rem(31px);

        .user-indicator-profile-btn,
        .dropdown-toggle {
            @extend .btn;
            @extend .btn-default;
            border: none;
            height: 100%;
        }

        /* stylelint-disable max-nesting-depth */

        &.open {
            a,
            a:focus,
            a:hover {
                border-color: $ae-dark-gray;
            }
        }

        /* stylelint-enable max-nesting-depth */


        .user-indicator-profile-avatar {

            height: 100%;
            width: rem(31px);

            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;

            border: 1px solid $ae-light-gray;

            background: #fff center center / cover;
            display: inline-block;
            vertical-align: middle;
        }

        .user-indicator-profile-username {
            padding: rem(6px 12px);
        }

        .user-indicator-profile-btn {
            border-right: 2px solid $ae-dark-gray;
            padding: 0;
        }

        .user-login {
            border-radius: 4px;
            border: 2px solid $ae-dark-gray;
            background-color: $navbar-default-bg;
        }
    }

    @media screen and (max-width: $grid-float-breakpoint-max) {
        &-btn-group {
            display: flex;
            flex-wrap: wrap;
            margin-left: rem(15px);
            margin-right: rem(15px);
        }

        &-btn-group &-profile-avatar {
            border-radius: 0;
        }

        &-profile-btn {
            flex-grow: 1;
            text-align: left;
            border-radius: 0;
        }

        .dropdown-toggle {
            flex-grow: 0;
            border-radius: 0;
        }

        &-btn-group.open &-menu {
            width: 100%;
            border-radius: 0;
            background: #fff;
            margin-left: 0;
        }
    }
}

.user-indicator-logout-form {
    background-color: $ae-light-gray;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.login-register-btn-group {
    margin-top: $navbar-padding-vertical/1.5;
    display: block;
    height: rem(31px);

    @media screen and (max-width: $grid-float-breakpoint-max) {
        margin-left: rem(15px);
        margin-right: rem(15px);
    }

    .btn-default {
        margin-right: rem(5px);
    }
}
