{% extends "base.html" %}
{% load i18n force_translation %}

{% block title %}{% trans 'Invitation to collaborate' %}{% endblock %}
{% block content %}
    {% force_translation 'en' %}
    <div class="account-top">
    <div class="container-medium account-box">
        <h2>{% blocktrans %} Your invitation is not valid. {% endblocktrans %}</h2>
        <p>
            {% trans "You either already accepted or declined the invitation or you were uninvited." %}
        </p>
    </div>
    </div>
    {% endforce_translation %}
{% endblock %}
