{% load i18n wagtailcore_tags wagtailimages_tags blog_tags static force_translation %}

{% load_latest_blogs "blogs" as blog_items %}

{% force_translation 'en' %}
<div class="container block">
    {% if value.title %}
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="block-title">{{ value.title }}</h2>
            </div>
        </div>
    {% endif %}
    <div class="blockblog">
        {% if blog_items %}
            <div class="blockblog-list">
                {% for post in blog_items %}
                    <div class="blockblog-entry">
                        {% if post.image %}
                            {% image post.image fill-490x240 as image%}
                        {% endif %}
                        <div class="hover-parent">
                                {% if post.image %}
                                    <img class="hover-child-img" src="{{ image.url }}">
                                {% else %}
                                    <img class="hover-child-img" src="{% static 'images/placeholder_yellow.svg' %}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="blockblog-text">
                            {% include 'cms_blog/includes/blog_categories.html' with categories=post.categories.all %}
                            <h4><a href="{% pageurl post %}" class="blockblog-title-link">{{ post.title }}</a></h4>
                            <div class="blockblog-text-text">
                                {{ post.teasertext|truncatechars:350 }}
                            </div>
                            <div class="blockblog-createdates">
                                on {{ post.create_date|date }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if value.link.live %}
            <div class="row text-center">
                <div class="col-md-12">
                    <a href={{ value.link.url }} class="btn btn-ae-secondary blockblog-btn" role="button">{% trans 'More' %}</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endforce_translation %}
