<div class="teasertext-block">
    <div>
        <h4>{{ value.headline }}</h4>
        <p>{{ value.text }}</p>
    </div>
    <div>
        {% if value.link.live %}
        <div class="btn teasertextblock-btn">
        <div class="grr">
            {% if value.link_text %}
                <a href="{{ value.link.url }}" role="button" class="linktext-overflow">{{ value.link_text }}</a>
            {% else %}
                <a href="{{ value.link.url }}" role="button" class="linktext-overflow">{{ value.link.title }}</a>
            {% endif %}
        </div>
        </div>
        {% endif %}
    </div>
</div>
