<div class="teasertext-block">
    <div>
        <h4>{{ value.headline }}</h4>
        <p>{{ value.text }}</p>
    </div>
    <div>
        {% if value.link.live %}
        <div class="btn teasertextblock-btn">
            {% if value.link_text %}
                <a href="{{ value.link.url }}" role="button">{{ value.link_text }}</a>
            {% else %}
                <a href="{{ value.link.url }}" role="button">{{ value.link.title }}</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
