{% load wagtailimages_tags wagtailcore_tags %}

<div class="container-medium three-image-block block">
    {% if value.title %}
    <h3 class="three-image-block-title"> {{ value.title }}</h3>
    {% endif %}
    <div class="row three-image-block-row">
        {% if value.image_left %}
        <div class="col-lg-4 col-sm-12 three-image-block-image-container">
            {% include_block value.image_left %}
        </div>
        {% endif %}

         {% if value.image_middle %}
        <div class="col-lg-4 col-sm-12 three-image-block-image-container">
            {% include_block value.image_middle %}
        </div>
        {% endif %}

         {% if value.image_right %}
        <div class="col-lg-4 col-sm-12 three-image-block-image-container">
            {% include_block value.image_right %}
        </div>
        {% endif %}

    </div>
</div>
