{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %} {% trans 'journey entry' %} {% endblock %}

{% block content %}

<div class="journey-form-top">
    <div class="container">
        <div class="journey-form-btn-box container-medium">
            <a href="{% url 'idea-detail' slug=view.idea.slug %}" class="btn btn-default journey-form-btn" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i> {% trans "Back to idea" %}</a>
        </div>
        <form class="journey-form-box custom-form container-medium" data-safe-form="wizard" method="post" enctype="multipart/form-data" novalidate>
            {% if view.is_create_view %}
            <h1>{% trans 'new entry' %} </h1>
            {% else %}
            <h1>{% trans 'update entry' %} </h1>
            {% endif %}
            <h4>{{ view.idea.idea_title }}</h4>

            {% crispy form %}

            <div class="clearfix">
                <button class="btn btn-ae-secondary journey-form-save-btn pull-right"
                        type="submit">
                    {% trans "Publish" %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
