{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block content %}
<div class="wizard-page">
    <form class="wizard custom-form container-narrow" data-safe-form="wizard" method="post" enctype="multipart/form-data" novalidate>
        {% if view.is_create_view %}
        <h1>{% trans 'create journal entry' %} </h1>
        {% else %}
        <h1>{% trans 'update journal entry' %} </h1>
        {% endif %}

        {% crispy form %}

        <div class="clearfix">
            <button class="btn btn-ae-secondary pull-right"
                    type="submit">
                {% trans "save" %}
            </button>
        </div>
    </form>
</div>
{% endblock %}
