{% extends "base.html" %}
{% load i18n crispy_forms_tags force_translation %}

{% block title %} {% trans 'journey entry' %} {% endblock %}

{% block content %}
{% force_translation 'en' %}
<div class="journey-form-top">
    <div class="container">
        <div class="journey-form-btn-box container-medium">
            <a href="{% if view.is_create_view %}{% url 'idea-detail' slug=view.idea.slug %}{% else %}{% url 'idea-detail' slug=journeyentry.idea.slug %}{% endif %}" class="btn-back-to" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i> {% trans "Back to idea" %}</a>
        </div>
        <form class="journey-form-box custom-form container-medium" data-safe-form="wizard" method="post" enctype="multipart/form-data" novalidate>
            {% if view.is_create_view %}
            <h1>{% trans 'New entry' %} </h1>
            <h4 class="journey-form-idea">{{ view.idea.idea_title }}</h4>
            {% else %}
            <h1>{% trans 'Update entry' %} </h1>
            <h4 class="journey-form-idea">{{ journeyentry.idea.idea_title }}</h4>
            {% endif %}

            {% crispy form %}

            <div class="clearfix">
                <button class="btn btn-ae-secondary journey-form-save-btn pull-right"
                        type="submit">
                    {% trans "Publish" %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endforce_translation %}
{% endblock %}
