{% load i18n wagtailcore_tags snippet_tags %}
{% load_site_menu "footer" as footer_menu_items %}

<footer id="footer" class="footer hidden-xs">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="pull-right">
                <ul class="nav navbar-nav">
                    {% for menuitem in footer_menu_items %}
                    <li><a href="{{ menuitem.url }}">{{ menuitem.translated_menu_title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="nav navbar-nav">
                {% if settings.cms_settings.SocialMediaSettings.facebook %}
                <li><a href="{{ settings.cms_settings.SocialMediaSettings.facebook }}" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
                {% endif %}

                {% if settings.cms_settings.SocialMediaSettings.twitter %}
                <li><a href="https://twitter.com/{{ settings.cms_settings.SocialMediaSettings.twitter }}" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
                {% endif %}

                {% if settings.cms_settings.SocialMediaSettings.youtube %}
                <li><a href="{{ settings.cms_settings.SocialMediaSettings.youtube }}" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</a></li>
                {% endif %}

                {% if settings.cms_settings.SocialMediaSettings.flickr %}
                <li><a href="{{ settings.cms_settings.SocialMediaSettings.flickr }}" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i> Flickr</a></li>
                {% endif %}
            </ul>
         </div>
    </nav>
</footer>
