{% load contrib_tags %}

<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination ae-pagination">
            {% if page_obj.has_previous %}
                <li>
                    {% combined_url_parameter request.GET page=page_obj.previous_page_number as url_par %}
                    <a href="{{ url_par }}"><i class="fa fa-angle-left"></i></a>
                </li>
            {% endif %}
            {% if page_obj.has_previous or page_obj.has_next %}
                {% if page_obj.paginator.num_pages < 6 %}
                    {% for page_num in page_obj.paginator.page_range %}
                        <li {% if page_num == page_obj.number %}class="active"{% endif %}>
                            {% combined_url_parameter request.GET page=page_num as url_par %}
                            <a href="{{ url_par }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% get_range page_obj.number page_obj.paginator.num_pages as page_range %}
                    {% for page_num in page_range %}
                        <li {% if page_num == page_obj.number %}class="active"{% endif %}>
                            {% combined_url_parameter request.GET page=page_num as url_par %}
                            <a href="{{ url_par }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if page_obj.has_next %}
                <li>
                    {% combined_url_parameter request.GET page=page_obj.next_page_number as url_par %}
                    <a href="{{ url_par }}"><i class="fa fa-angle-right"></i></a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
