{% load i18n wagtailcore_tags userindicator snippet_tags url_translations static %}
{% get_current_language as LANGUAGE_CODE %}
{% load_site_menu "topmenu" as top_menu_items %}
<nav class="navbar navbar-default navbar-fixed-top" aria-label="{% trans 'main menu' %}">
    <div class="container">
        <a class="navbar-brand" href="/{{ LANGUAGE_CODE }}/">
            {% with logo_number='12345'|random %}
            <img
                class="navbar-brand-logo"
                alt="Avocate Europe"
                src="{% static 'images/logo_0'|add:logo_number|add:'.svg' %}"
            >
            {% endwith %}
        </a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="{% trans 'navigation on/off' %}">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for menuitem in top_menu_items %}
                <li><a href="{{ menuitem.url }}"{% if request.path == menuitem.url %} class="is-active"{% endif %}>{{ menuitem.translated_menu_title }}</a></li>
                {% endfor %}

                {% get_available_languages as languages %}
                {% for lang_code, lang_name in languages %}
                {% if lang_code != LANGUAGE_CODE %}
                <li>
                    <a href="{% translate_url lang_code %}">{{ lang_code }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
