*.pyc
__pycache__
.cache
myvenv
db.sqlite3
test_db.sqlite3
/static
.DS_Store
*.mo
/media
.sass-cache
venv
/node_modules
/lib/python*
/lib64
/include/python*
/bin
/pyvenv.cfg
/webpack-stats.json
/a4_advocate_europe/settings/local.py
/a4_advocate_europe/static