*.pyc
__pycache__
.cache
.DS_Store

# project specific
db.sqlite3
test_db.sqlite3
/static
*.mo
/media
.sass-cache
/node_modules
/webpack-stats.json
/advocate_europe/settings/local.py
/advocate_europe/static

# coveerage
.coverage
htmlcov

# virtual
/venv/
/pyvenv.cfg
/pip-selfcheck.json
