{% load i18n static webpack_loader %}
<html>
    <head>
        <title>Error | Advocate Europe</title>
        {% render_bundle 'vendor' 'css' %}
        {% render_bundle 'adhocracy4css' 'css' %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" aria-label="{% trans 'main menu' %}">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img
                        class="navbar-brand-logo"
                        alt="Avocate Europe"
                        src="{% static 'images/logo_01.svg' %}"
                    >
                </a>
            </div>
        </nav>

        <div class="error-top">
            <div class="container">
                <div class="container-medium error-box text-center">
                    <span class="error-stack error-stack-size">
                        <i class="fa fa-file-o error-stack-2x" aria-hidden="true"></i>
                        <span class="error-stack-1x error-status">500</span>
                    </span>

                    <div>
                    <p class="error-message">{% trans 'Sorry, something went wrong.' %}<br>
                    {% trans 'Internal server error.'%}</p>
                    <a href="/" class="btn btn-primary error-btn">{% trans 'Back to Advocate Europe' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
