html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: $footer-height;
    padding-top: $navbar-height;
    min-height: 100%;

    @media (max-width: $screen-sm) {
        padding-bottom: $footer-screen-sm-hight;
    }
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: $footer-height;
    background-color: $ae-light-gray;

    @media (max-width: $screen-sm) {
        height: $footer-screen-sm-hight;
    }

    .navbar {
        margin-bottom: 0;
        border-bottom: none;
        border-color: #fff;
        background-color: $ae-light-gray;
    }

    .footer-entry {
        padding-top: 20px;
        padding-bottom: 0;
        line-height: 1.43;
    }
}

.container-small,
.container-narrow {
    float: none;
    margin: 0 auto;
    position: relative;
}

.container-small {
    @extend .col-md-4;
}

.container-narrow {
    @extend .col-md-8;
}
