html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: $footer-height;
    padding-top: $navbar-height;
    min-height: 100%;

    @media (max-width: $screen-sm) {
        padding-bottom: $footer-screen-sm-hight;
    }
}

a,
.btn-link {
    font-weight: $demibold;
}

@mixin selection {
    ::selection {
        @content;
    }

    ::moz-selection {
        @content;
    }
}

@include selection {
    color: $gray-dark;
    background: $ae-brand-orange;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: $footer-height;
    background-color: $ae-light-gray;

    @media (max-width: $screen-sm) {
        height: $footer-screen-sm-hight;
    }

    .navbar {
        margin-bottom: 0;
        border-bottom: none;
        border-color: #fff;
        background-color: $ae-light-gray;
    }

    .footer-entry {
        padding-top: 20px;
        padding-bottom: 0;
        line-height: 1.43;
    }
}

.container-small,
.container-medium,
.container-narrow {
    float: none;
    margin: 0 auto;
    position: relative;
}

.container-small {
    @extend .col-md-4;
}

.container-medium {
    @extend .col-md-6;
}

.container-narrow {
    @extend .col-md-8;
}

.navbar-brand.navbar-brand {

    padding: rem(10px 0 10px 0);

    .navbar-brand-logo {
        height: rem(50px);
    }
}

.navbar-fixed-top {
    .is-active:after {
        display: block;
        content: '';
        border-bottom: solid $navbar-underline-height $brand-primary;
    }

    .not-active:after {
        display: block;
        content: '';
        border-bottom: solid $navbar-underline-height $brand-primary;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    .not-active:hover:after {
        transform: scaleX(1);
    }
}

// wagtail videos without padding

.responsive-object {
    position: relative;
    padding-bottom: 67.5%;
    height: 0;
    margin: 10px 0;
    overflow: hidden;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.equal {
    display: flex;
    flex-flow: row wrap;

    &:before {
        display: block;
    }
}

// wagtail images in rich text shouldn't be wider than the container

.richtext-image {
    max-width: 100%;
    height: auto;

    &.full-width {
        width: 100%;
    }

    &.left {
        float: left;
        margin-right: rem(15px);
    }

    &.right {
        float: right;
        margin-left: rem(15px);
    }
}

.alert {
    margin-bottom: 0;
}

mark {
    background-color: $ae-brand-orange;
}
