html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: $navbar-height;
    padding-top: $navbar-height;
    min-height: 100%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    .navbar {
        margin-bottom: 0;
    }
}

.container-small,
.container-narrow {
    float: none;
    margin: 0 auto;
    position: relative;
}

.container-small {
    @extend .col-md-4;
}

.container-narrow {
    @extend .col-md-8;
}
