.btn-ae-secondary {
    @include button-variant($btn-ae-secondary-color, $btn-ae-secondary-bg, $btn-ae-secondary-border);
}

.btn-github {
    @include button-variant($btn-ae-github-color, $btn-ae-github-bg, $btn-ae-github-border);
    color: white;
}

.btn-facebook {
    @include button-variant($btn-ae-facebook-color, $btn-ae-facebook-bg, $btn-ae-facebook-border);
    color: white;
}

.btn-google {
    @include  button-variant($btn-ae-google-color, $btn-ae-google-bg, $btn-ae-google-border);
    color: white;
}

.btn-instagram {
    @include button-variant($btn-ae-instagram-color, $btn-ae-instagram-bg, $btn-ae-instagram-border);
    color: white;
}

.btn-wide {
    width: 100%;
    text-transform: capitalize;
    font-size: rem(16px);
    font-weight: bold;
}

.btn-support,
.btn-support:hover,
.btn-support:focus,
.btn-support:active {
    background-color: transparent;
    padding-bottom: 0;
    color: white;
    box-shadow: none;

    i {
        font-size: rem(14px);
    }

    span {
        font-size: rem(14px);
    }
}

.btn-addon:focus,
.btn-addon:hover,
.btn-addon:active {
    color: white;
    outline: none;
    box-shadow: none;
    cursor: default;
}
