.btn-ae-secondary {
    @include button-variant($btn-ae-secondary-color, $btn-ae-secondary-bg, $btn-ae-secondary-border);
}

.btn-light-blue {
    @include button-variant($btn-ae-light-blue-color, $btn-ae-light-blue-bg, $btn-ae-light-blue-border);
}

.btn-github {
    @include button-variant($btn-ae-github-color, $btn-ae-github-bg, $btn-ae-github-border);
    color: white;
}

.btn-facebook {
    @include button-variant($btn-ae-facebook-color, $btn-ae-facebook-bg, $btn-ae-facebook-border);
    color: white;
}

.btn-google {
    @include  button-variant($btn-ae-google-color, $btn-ae-google-bg, $btn-ae-google-border);
    color: white;
}

.btn-instagram {
    @include button-variant($btn-ae-instagram-color, $btn-ae-instagram-bg, $btn-ae-instagram-border);
    color: white;
}

.btn-back-to {
    @extend .btn;
    @extend .btn-default;
    font-size: rem(16px);

    .fa,
    .fas,
    .far {
        padding-right: rem(5px);
    }

    @media screen and (max-width: $screen-sm-max) {
        margin-top: rem(10px);
        font-size: rem(14px);
    }
}

.btn-filter {
    @include button-variant($gray-dark, #fff, $ae-light-gray-shadow);

    font-weight: normal;
    border-radius: 5px;
}

.search-filter-btn {
    @include button-variant(#fff, $brand-primary, $brand-primary);

    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-wide {
    width: 100%;
    text-transform: capitalize;
    font-size: rem(16px);
}

.btn-support,
.btn-support:hover,
.btn-support:focus,
.btn-support:active {
    background-color: transparent;
    padding: 0;
    color: white;
    box-shadow: none;

    p {
        margin-bottom: 0;
        font-size: rem(12px);
    }

    i {
        font-size: rem(18px);
    }

    span {
        font-size: rem(18px);
    }
}

.btn-addon:focus,
.btn-addon:hover,
.btn-addon:active {
    color: white;
    outline: none;
    box-shadow: none;
    cursor: default;
}
