{% load socialaccount i18n force_translation %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
{% force_translation 'en' %}
    <ul class="socialaccount-providers">
    {% for provider in socialaccount_providers %}
        {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
        <li>
            <a title="{{ brand.name }}"
               class="socialaccount-provider {{ provider.id }} {{ brand.id }}"
               href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
            >{{ brand.name }}</a>
        </li>
        {% endfor %}
        {% endif %}
        <li>
            <a title="{% trans 'Login with ' %} {{ provider.name }}"
               class="socialaccount-provider btn btn-{{ provider.id }} btn-wide {{ provider.id }}"
               href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{% trans 'Login with ' %} {{ provider.id|capfirst }}</a>
        </li>
    {% endfor %}
    </ul>
{% endforce_translation %}
{% endif %}
