{% load i18n static %}

<div class="ideadetail-tab">
    <div class="ideadetailtab-header">
        <span class="ideadetailtab-header-content-switcher">
            {% if idea.idea_sketch_archived %}
            {% if view.display_type == 'idea_sketch_archive' %}
                <span class="active" >Idea Sketch</span> |
                <a href="{% url 'idea-detail' idea.slug %}">Proposal</a>
            {% else %}
                <a href="{% url 'idea-sketch-archived-detail' idea.slug %}">Idea Sketch</a> |
                <span class="active">Proposal</span>
            {% endif %}
            {% else %}
            Idea Sketch
            {% endif %}
        </span>
        {% if idea.proposal %}
        <h2>{% trans "Proposal" %}</h2>
        {% else %}
        <h2>{% trans "Idea" %}</h2>
        {% endif %}
    </div>
    {% for field in idea_list_1 %}
        <div class="ideadetailtab-con-header">
            <h4>{{ field.0 }}</h4>
        </div>
        <div class="ideadetailtab-con-text">
            <p>{{ field.1|linebreaks }}</p>
        </div>
    {% endfor %}
    {% if idea.proposal %}
        <div class="row ideadetail-funding">
            {% for field in budget_list %}
            <div class="col-lg-4 col-sm-4 col-xs-4 well">
                <h3>€ {{ field.1 }},-</h3>
                <p>{{ field.0 }}</p>
            </div>
            {% endfor %}
        </div>
    {% endif  %}
    {% for field in idea_list_2 %}
        <div class="ideadetailtab-con-header">
            <h4>{{ field.0 }}</h4>
        </div>
        <div class="ideadetailtab-con-text">
            <p>{{ field.1 }}</p>
        </div>
    {% endfor %}
</div>
