{% load i18n static react_ratings idea_tags %}

<div class="row ideadetail-header">
    <div class="ideadetail-image" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url({{ view.idea_image.url }});">
        <div class="ideadetailheader-content">
            <div class="col-md-9 col-sm-8 col-xs-12 ideadetailheader-left">
                <div class="btn btn-default ideadetail-btn">
                    <a href="{% url 'idea-sketch-list' %}" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i> {% trans "All ideas" %}</a>
                </div>
                <div class="ideadetail-title">
                    <div class="ideadetail-category">
                        {{ idea.all_idea_topics_names|join:", " }}
                    </div>
                    <h3>{{ idea.idea_title }} {% if idea.badge %}<span class="label idea_label {{ idea.badge|cut:" " }}">{{ idea.badge }}</span>{% endif %}</h3>
                    {% if idea.idea_subtitle %}
                        <h4 class="hidden-xs">
                            {{ idea.idea_subtitle }}
                        </h4>
                    {% endif %}
                </div>
            </div>
            {% if view.display_type == 'idea' %}
            <div class="col-md-3 col-sm-4 hidden-xs ideadetailheader-right">
                {% react_supports idea False %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
