{% extends "base.html" %}
{% load widget_tweaks i18n idea_tags crispy_forms_tags %}

{% block title %} {{ view.title }} {% endblock %}

{% block content %}
<div class="wizard-page">
    <form class="wizard custom-form container-narrow" method="post" enctype="multipart/form-data" novalidate>
        <h1>{{ view.title }} </h1>

        <div class="wizard-progress-side">
            <ul class="wizard-progress hidden-sm hidden-xs">
                {% for step_id, form, status in view.progress %}
                <li class="wizard-progress-entry{% if status == "active" %} active{% endif %}{% if status == "reachable_with_validate" or status == "reachable_with_store" %} filled{% endif %}">
                    {% if status == "reachable_with_store" %}
                    <button name="wizard_store_and_goto_step"
                            class="wizard-progress-button"
                            type="submit"
                            value="{{ step_id }}">
                        {{ form.section_name }}
                    </button>
                    {% elif status == "reachable_with_validate" %}
                    <button name="wizard_validate_and_goto_step"
                            class="wizard-progress-button"
                            type="submit"
                            value="{{ step_id }}">
                        {{ form.section_name }}
                    </button>
                    {% else %}
                    {{ form.section_name }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>

        {{ wizard.form.media }}
        {{ wizard.management_form }}

        {% crispy wizard.form %}

        <div class="row">
            <div class="col-md-12">
                {% if wizard.steps.prev and wizard.steps.next %}
                <button class="btn btn-ae-secondary"
                        name="wizard_store_and_goto"
                        type="submit"
                        value="{{ wizard.steps.prev }}">
                    {% trans "Back" %}
                </button>
                {% endif %}

                {% if wizard.steps.next %}
                <button class="btn btn-ae-secondary pull-right"
                        type="submit"
                        name="submit">
                    {% trans "Continue" %}
                </button>
                {% else %}
                <div class="text-center wizard-submit-form">
                    <p class="wizard-bold">{% trans "You're done!" %}</p>
                    <p>{{ view.finish_section_text }}</p>
                    <button class="btn btn-ae-secondary wizard-submit-btn"
                            type="submit"
                            name="submit">
                        {{ view.finish_section_btn }}
                    </button>
                </div>
                {% endif %}
        </div>
    </form>
</div>
{% endblock %}
