{% load i18n %}

<div class="block l-center-6">
    <h2>{{ self.heading }}</h2>

    {% for action in actions %}
        <div class="action">
            <i class="fa fa-{{ action.icon }} action__icon" aria-hidden="true"></i>
            <div class="action__main">
                <div class="action__line">
                    {% if action.type == 'comment' and action.verb == 'add' %}
                        {% blocktrans with url=action.actor.get_absolute_url name=action.actor.username target_url=action.target.get_absolute_url target=action.target  %} <a href="{{ url }}">{{ name }}</a> added a comment to <a href="{{ target_url }}">{{ target }}</a> {% endblocktrans %}
                    {% elif action.type == 'comment' and action.verb == 'update' %}
                        {% blocktrans with url=action.actor.get_absolute_url name=action.actor.username target_url=action.target.get_absolute_url target=action.target  %} <a href="{{ url }}">{{ name }}</a> updated a comment to <a href="{{ target_url }}">{{ target }}</a> {% endblocktrans %}
                    {% elif action.type == 'item' and action.verb == 'add' %}
                        {% blocktrans with url=action.actor.get_absolute_url name=action.actor.username item_url=action.obj.get_absolute_url %}<a href="{{ url }}">{{ name }}</a> added a new <a href="{{ item_url }}">item</a>{% endblocktrans%}
                    {% elif action.type == 'item' and action.verb == 'update' %}
                        {% blocktrans with url=action.actor.get_absolute_url name=action.actor.username item_url=action.obj.get_absolute_url %}<a href="{{ url }}">{{ name }}</a> updated an <a href="{{ item_url }}">item</a>{% endblocktrans%}
                    {% elif action.type == 'blog' and action.verb == 'create' %}
                        {% blocktrans with blog_url=action.obj.url blog_title=action.obj name=action.actor.username %}a new <a href="{{ blog_url }}" title="{{ blog_title }}">blog entry</a> was published by {{ name }} {% endblocktrans%}
                    {% elif action.type == 'project' and action.verb == 'start' %}
                        {% trans "New participation started" %}
                    {% elif action.type == 'phase' and action.verb == 'schedule' %}
                        {% trans "Participation phase will end soon:" %}
                        {{ action.obj.name }}
                    {% else %}
                        {{ action }}
                    {% endif %}
                </div>
{% comment %}
                <div class="action__line">
                    {% blocktrans with url=action.project.get_absolute_url name=action.project.name %}on <a href="{{ url }}">{{ name }}</a>{% endblocktrans %}
                </div>
{% endcomment %}
                <div class="action__date">{{ action.timestamp|date:'d.m.Y' }}</div>
            </div>
        </div>
    {% endfor %}
</div>
