<div class="filter-group btn-group {% if right %}pull-right{% endif %}">
    <label for="{{ id }}">
        {{ label }}
    </label>
    <br>
    <button
        type="button"
        class="btn btn-default btn-filter-group dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        id="{{ id }}"
    >
        <div class="value-label">{{ value_label }}</div>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
    {{ options }}
</div>
