{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="container blogindex">
        <div class="blogindexentry">
            <div class="row equal blogindex-featured">
                <div class="blog-image col-md-9">
                    {% image blogs.0.image fill-870x500 %}
                </div>
                <div class="blogindex-text col-md-3">
                    <div class="blog-category">
                        {% with categories=blogs.0.categories.all %}
                            {% if categories %}
                                {% for category in categories %}
                                    {% if forloop.first %}
                                        {{ category.name_en }}
                                    {% else %}
                                        &nbsp; | &nbsp; {{ category.name_en }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <h4><a href="{% pageurl blogs.0 %}">{{ blogs.0.title }}</a></h4>
                    <div class="blogindex-teaser">
                        {{ blogs.0.teasertext|truncatechars:300 }}
                    </div>
                    <div class="blog-createdates">
                        on {{ blogs.0.create_date }}
                    </div>
                </div>
            </div>
        </div>
            {% for post in blogs %}
                <div class="blogindexentry">
                    <div class="row equal blogindex-all">
                        <div class="blog-image col-md-5 col-md-offset-2">
                            {% image post.image fill-870x500 %}
                        </div>
                        <div class="blogindex-text col-md-3">
                            <div class="blog-category">
                                {% with categories=post.categories.all %}
                                    {% if categories %}
                                        {% for category in categories %}
                                            {% if forloop.first %}
                                                {{ category.name_en }}
                                            {% else %}
                                                &nbsp; | &nbsp; {{ category.name_en }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="blogindex_title">
                                <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>
                            </div>
                            <div class="blogindex-teaser">
                                {{ post.teasertext|truncatechars:275 }}
                            </div>
                            <div class="blog-createdates">
                                on {{ post.create_date }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        <div class="blogindex-topics">
            <h4>Popular Topics</h4>
        </div>
    </div>

{% endblock %}
