{% extends "base.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags contrib_tags %}

{% block title %} {{ page.title }} {% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block social_meta %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.teasertext }}">
    {% if page.image %}
        {% image page.image width-770 as image %}
        <meta name="twitter:image" content="{% get_absolute_uri request=request obj=image.url %}" />
    {% else %}
        <meta name="twitter:image" content="{% get_absolute_uri_static request=request obj='images/logo_01.png' %}">
    {% endif %}

    <meta property="og:url" content="{{ page.get_site.root_url }}{% pageurl page %}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.teasertext }}">
    {% if page.image %}
        {% image page.image width-770 as image %}
        <meta property="og:image" content="{% get_absolute_uri request=request obj=image.url %}" />
    {% else %}
        <meta property="og:image" content="{% get_absolute_uri_static request=request obj='images/logo_01.png' %}">
    {% endif %}

{% endblock %}

{% block content %}

    <div class="container blogpage">
        <div class="container-narrow">
            <div class="btn btn-default blogpage-btn">
                <a href="{{ page.get_parent.url }}" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i> {% trans "To overview" %}</a>
            </div>
        </div>
        <div class="container-medium">
            {% include 'cms_blog/blog_categories.html' with categories=page.categories.all %}
            <div class="blogpage-title">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="blogpage-taeser">
                {{ page.teasertext }}
            </div>
            <div class="blog-createdates">
                {% if page.author %}{% trans "by" %} {{ page.author }}{% endif %} {% trans "at" %} {{ page.create_date|date }}
            </div>
        </div>

        <div class="blog-image container-narrow">
            {% image page.image width-770 %}
            {% if page.image.caption %}
            <p class="blog-image-caption">{{ page.image.caption }}</p>
            {% endif %}
        </div>
        <div class="container-medium">
            <div class="blogpage-body">
                {{ page.body|richtext }}
            </div>
        </div>
    </div>
{% endblock %}
