{% extends "base.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags force_translation %}

{% block title %} {{ page.title }} {% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
{% force_translation 'en' %}
<div class="blogindex">
    <div class="container">
        <div class="blogindex-title">
            <h1>{{ page.title }}</h1>
        </div>
        <!-- Featured blog entry will be on first index page only -->
        {% if not blogs.has_previous and not category and page.featured_page.live %}
            {% include 'cms_blog/blog_index_featured_item.html' %}
        {% else %}
            <div class="row"></div>
        {% endif %}

        <div class="hidden-sm hidden-md hidden-lg {% if blogs.has_previous or category or not page.featured_page.live %}topics-no-featured{% endif %}">
            <div class="row">
                <div class="col-xs-12">
                    {% include 'cms_blog/blog_index_category_buttons.html' %}
                </div>
            </div>
        </div>
        <div class="row col-sm-3 col-md-2 hidden-xs blogindex-topics-neg-margin {% if blogs.has_previous or category or not page.featured_page.live %}topics-no-featured{% endif %}">
            {% include 'cms_blog/blog_index_category_buttons.html' %}
        </div>

        <!-- All Blog Entries -->
        {% for post in blogs %}
            <!-- Featured blog entry shouldn't be shown twice on the first index page -->
            {% if not blogs.has_previous and not category and page.featured_page == post %}
            {% else %}
                <div class="blogindexentry">
                    <div class="row equal blogindex-all">
                        {% if post.image %}
                            {% image post.image fill-470x300 as image%}
                        {% endif %}
                        <div class="blog-index-image-list col-xs-12 col-sm-5 col-sm-offset-3 col-md-5 col-md-offset-2" style="background-image: url({% if post.image %} {{ image.url }} {% else %} {% static 'images/placeholder_yellow.svg' %} {% endif %});">
                            <a href="{% pageurl post %}" class="blog-index-image" style="background-image: url({% if post.image %} {{ image.url }} {% else %} {% static 'images/placeholder_yellow.svg' %} {% endif %});">
                            </a>
                        </div>
                        <div class="blogindex-text col-xs-12 col-sm-4 col-md-3">
                            {% include 'cms_blog/blog_categories.html' with categories=post.categories.all %}
                            <div class="blogindexentry-title">
                                <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>
                            </div>
                            <!--lg and xs-->
                            <div class="blogindex-teaser hidden-md hidden-sm">
                                {{ post.teasertext|truncatechars:150 }}
                            </div>
                            <!--md-->
                            <div class="blogindex-teaser hidden-lg hidden-sm hidden-xs">
                                {{ post.teasertext|truncatechars:80 }}
                            </div>
                            <!--sm-->
                            <div class="blogindex-teaser hidden-lg hidden-md hidden-xs">
                                {{ post.teasertext|truncatechars:60 }}
                            </div>
                            <div class="blog-createdates">
                                {% trans "on" %} {{ post.create_date|date }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            <!-- No blog entry might exist for the category -->
            <div class="blogindex-no-entry row">
                <h4>{% trans "Sorry, no blog entries exist for the chosen category." %}</h4>
            </div>
        {% endfor %}
        <!-- All Blog Entries END -->

        {% include 'includes/pagination.html' with page_obj=blogs %}

    </div>
</div>
{% endforce_translation %}
{% endblock %}
