<h4>Categories</h4>
{% for categ in categories %}
    {% if categ.name_en == category %}
        <div class="btn btn-sm blogindex-category-btn active">
            <a href="?category=" role="button" aria-label="Remove category filter {{ categ }}">{{ categ }} &nbsp; X</a>
        </div>
    {% else %}
        <div class="btn btn-sm blogindex-category-btn">
            <a href="?category={{ categ }} " role="button" aria-label="Filter for category {{ categ }}">{{ categ }}</a>
        </div>
    {% endif %}
    <br>
{% endfor %}
