.content {
    margin-top: $navbar-height;
}

.container-small,
.container-narrow {
    float: none;
    margin: 0 auto;
    position: relative;
}

.container-small {
    @extend .col-md-4;
}

.container-narrow {
    @extend .col-md-8;
}
