.content {
    margin-top: $navbar-height;
}

.centered-text {
    text-align: center;
}

.container-small,
.container-narrow {
    float: none;
    margin: 0 auto;
    position: relative;
}

.container-small {
    @extend .col-md-4;
}

.container-narrow {
    @extend .col-md-8;
}
