{% load i18n %}

<div>
    {% for action in view.actions %}
        <div class="action row">
            <div class="action__icon col-xs-2">
              <i class="fa fa-{{ action.icon }}" aria-hidden="true"></i>
            </div>
            <div class="action__main col-xs-7">
                <div class="action__line">
                    {% if action.type == 'comment' and action.verb == 'add' %}
                        {% blocktrans with url=action.actor.get_absolute_url name=action.actor.username comment=action.obj.comment|truncatewords:3 %} <a href="{{ url }}">{{ name }}</a> commented: {{ comment}} {% endblocktrans %}
                    {% elif action.type == 'comment' and action.verb == 'update' %}
                        {% blocktrans with url=action.actor.get_absolute_url name=action.actor.username comment=action.obj.comment|truncatewords:3 %} <a href="{{ url }}">{{ name }}</a> updated comment: {{ comment}} {% endblocktrans %}
                    {% elif action.type == 'item' and action.verb == 'add' %}
                        {% blocktrans with url=action.actor.get_absolute_url name=action.actor.username item_url=action.obj.get_absolute_url item=action.obj.type %}<a href="{{ url }}">{{ name }}</a> added a new <a href="{{ item_url }}">{{ item }}</a>{% endblocktrans%}
                    {% elif action.type == 'item' and action.verb == 'update' %}
                        {% blocktrans with url=action.actor.get_absolute_url name=action.actor.username item_url=action.obj.get_absolute_url %}<a href="{{ url }}">{{ name }}</a> updated an <a href="{{ item_url }}">item</a>{% endblocktrans%}
                    {% elif action.type == 'blog' and action.verb == 'create' %}
                        {% blocktrans with url=action.actor.get_absolute_url name=action.actor.username item_url=action.obj.url item=action.obj %}<a href="{{ url }}">{{ name }}</a> added new blog entry: <a href="{{ item_url }}">{{ item }}</a>{% endblocktrans%}
                    {% elif action.type == 'project' and action.verb == 'start' %}
                        {% trans "New participation started" %}
                    {% elif action.type == 'phase' and action.verb == 'schedule' %}
                        {% trans "Participation phase will end soon:" %}
                        {{ action.obj.name }}
                    {% else %}
                        {{ action }}
                    {% endif %}
                </div>
                  {% if action.type == 'comment' %}
                    <div class="action__line">
                      {% blocktrans with url=action.obj.get_absolute_url name=action.target %}on <a href="{{ url }}">{{ name }}</a>{% endblocktrans %}
                    </div>
                  {% else %}

                  {% endif %}

            </div>

            <div class="action__date col-xs-3">{{ action.timestamp|date:'d.m.Y' }}</div>
        </div>
    {% endfor %}
</div>
