{% load i18n static thumbnail rules rule_tags %}

<ul class="nav navbar-nav navbar-right user-indicator" id="user-indicator">
    <li class="dropdown">

       {% if request.user.is_authenticated %}
        <div class="btn-group user-indicator-btn-group clearfix">
            <a href="{% url 'profile' request.user.username %}" class="btn user-indicator-profile-btn">
                <span class="user-indicator-profile-avatar avatar-square-small" style="background-image: url({{ request.user.avatar_or_fallback_url }})"></span><span class="user-indicator-profile-username"> {{ request.user.username }}</span>
            </a>
            <button href="#" class="btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-label="{% trans 'toggle user menu' %}">
                <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </button>

            <ul class="dropdown-menu user-indicator-menu">
                {% if request.user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}"><i class="fa fa-hand-spock-o fa-fw" aria-hidden="true"></i> <span class="dropdown-text">{% trans "Admin" %}</span></a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'edit_profile' %}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span class="dropdown-text">{% trans "Account Settings" %}</span></a>
                </li>
                {% get_modules as modules %}
                {% for module in modules %}
                    {% has_perm 'advocate_europe_ideas.add_ideasketch' request.user module as can_add %}
                    {% if can_add %}
                    <li>
                        <a href="{% url 'idea-sketch-create' module.slug %}">
                            <i class="fa fa-plus fa-fw" aria-hidden="true"></i>{% trans 'add proposal' %}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                <li>
                    <form class="user-indicator-logout-form" action="{% url 'account_logout' %}" method="post" >
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ redirect_field_value }}">
                        <button type="submit" value="Register">
                            <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>{% trans "logout" %}
                        </button>
                    </form>
                </li>
            </ul>
        </div>

        {% else %}
        <a href="#" class="dropdown-toggle user-login" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="user-login">
            <span class="inner">{% trans "Login / Register"%}<span class="caret"></span></span>
        </a>

        <ul class="dropdown-menu">
            <li>
                <a href="{% url 'account_login' %}?next={{redirect_field_value }}">
                    <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>{% trans "login" %}
                </a>
            </li>
            <li>
                <a href="{% url 'account_signup' %}?next={{redirect_field_value }}">
                    <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>{% trans "register" %}
                </a>
            </li>
        </ul>
        {% endif %}
    </li>
</ul>
