{% load i18n thumbnail rules rule_tags %}

<ul class="nav navbar-nav navbar-right user-indicator" id="user-indicator">
    <li class="dropdown">

       {% if request.user.is_authenticated %}
        <div class="btn-group user-indicator-btn-group">
            <a href class="btn user-indicator-profile-btn">
                {{ request.user.username }}
            </a>
            <button href="#" class="btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-label="{% trans 'toggle user menu' %}">
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu user-indicator-menu">
                {% if request.user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}"><i class="fa fa-hand-spock-o fa-fw" aria-hidden="true"></i> <span class="dropdown-text">{% trans "Admin" %}</span></a>
                </li>
                {% endif %}
                {% with 'ideas2017' as  module_slug %}
                {% get_module module_slug as module %}
                {% has_perm 'advocate_europe_ideas.add_ideasketch' request.user module as can_add %}
                {% if can_add %}
                <li>
                    <a href="{% url 'idea-sketch-create' module_slug %}">
                        <i class="fa fa-plus fa-fw" aria-hidden="true"></i>{% trans 'add proposal' %}
                    </a>
                </li>
                {% endif %}
                {% endwith %}
                <li>
                    <form class="user-indicator-logout-form" action="{% url 'account_logout' %}" method="post" >
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ redirect_field_value }}">
                        <button type="submit" value="Register">
                            <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>{% trans "logout" %}
                        </button>
                    </form>
                </li>
            </ul>
        </div>

        {% else %}
        <a href="#" class="dropdown-toggle user-login" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="user-login">
            <span class="inner">{% trans "Login / Register"%}<span class="caret"></span></span>
        </a>

        <ul class="dropdown-menu">
            <li>
                <a href="{% url 'account_login' %}?next={{redirect_field_value }}">
                    <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>{% trans "login" %}
                </a>
            </li>
            <li>
                <a href="{% url 'account_signup' %}?next={{redirect_field_value }}">
                    <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>{% trans "register" %}
                </a>
            </li>
        </ul>
        {% endif %}
    </li>
</ul>
