{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Profile" %} {{ view.user.username }}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <aside class="col-sm-3">
            {{ view.user.username }}
        </aside>

        <main class="col-sm-9">
            <div class="idealist-list">
                {% for idea in idea_list %}
                {% include 'advocate_europe_ideas/includes/idealist_item.html' %}
                {% endfor %}
            </div>

            {% if is_paginated %}{% include 'includes/pagination.html' %}{% endif %}
        </main>
    </div>
</div>
{% endblock %}
