{% extends 'account/advocate_europe/base_form.html' %}

{% load account i18n socialaccount widget_tweaks force_translation %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block form %}
<form class="custom-form" role="form" name="LoginForm" action="{% url 'account_login' %}" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="form-errors">
    {% for error in form.non_field_errors %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endfor %}
    </div>
    {% endif %}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}

    <div class="form-group">
        <label class="control-label" for="{{ form.username.id_for_label }}">{% trans "E-mail" %}</label>
        {% if form.login.errors %}
        {{ form.login|add_class:"form-control form-error" }}
        {% else %}
        {{ form.login|add_class:"form-control"}}
        {% endif %}
        {{ form.login.errors }}
    </div>
    <div class="form-group">
        <label class="control-label" for="{{ form.password.id_for_label }}">{% trans "Password" %}</label>
        {% if form.password.errors %}
        {{ form.password|add_class:"form-control form-error" }}
        {% else %}
        {{ form.password|add_class:"form-control"}}
        {% endif %}
        {{ form.password.errors }}
    </div>
    <div class="form-link">
        <a href="{% url 'account_reset_password' %}">{% trans "reset password" %}</a>
    </div>


    <button type="submit" value="Login" class="btn btn-primary btn-wide">{% trans "login" %}</button>
</form>
{% endblock %}
