{% extends 'account_base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Reset your password' %}{% endblock %}

{% block account_content %}
    {% if token_fail %}
    <h2>{% trans "Bad Token" %}</h2>
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
    </p>
    {% else %}
    {% if form %}
    <form class="custom-form" role="form" name="ResetPasswordForm" action="" method="post">
        <h2>{% trans "Reset your password" %}</h2>
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="form-errors">
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        {{ form.token }}
        {{ form.token.errors }}

        <div class="form-group">
            <label class="control-label" for="{{ form.password1.id_for_label }}">{% trans "Password" %}</label>
            {{ form.password1.errors }}
            {{ form.password1|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label class="control-label" for="{{ form.password2.id_for_label }}">{% trans "Repeat password" %}</label>
            {{ form.password2.errors }}
            {{ form.password2|add_class:"form-control" }}
        </div>

        <button type="submit" value="Activate" class="btn btn-ae-secondary">{% trans "Reset password" %}</button>
    </form>
    {% else %}
    <h2>{% trans "Change password" %}</h2>
    <p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
    {% endif %}
{% endblock %}
