{% extends "advocate_europe_users/base_accounts_settings_form.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block form %}
    <form class="custom-form" role="form" name="PasswordSetForm"
          action="{% url 'account_set_password' %}" method="post">
        {% csrf_token %}
        <fieldset>
        <legend>{% trans 'set password' %}</legend>

        <p>
            {% trans 'You logged in with a social account. If you want to be able to also login with email and password, you can set a password for your advocate europe account here.' %}
        </p>

        {% if form.non_field_errors %}
            <div class="form-errors">
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-group">
            <label class="control-label"
                   for="{{ form.password1.id_for_label }}">{% trans "New password" %}</label>
            {{ form.password1.errors }}
            {{ form.password1|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label class="control-label"
                   for="{{ form.password2.id_for_label }}">{% trans "Repeat new password" %}</label>
            {{ form.password2.errors }}
            {{ form.password2|add_class:"form-control" }}
        </div>
        <button type="submit" value="reset" class="btn btn-ae-secondary">{% trans "Change Password" %}</button>
        </fieldset>
    </form>

{% endblock %}
