{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="container">
    <h2>{% trans "Change password" %}</h2>
    <p>{% trans "You logged in with a social account. You can either change your password in that account or generate a new password to use on Advocate Europe here." %}</p>
</div>
{% endblock %}

{% block form %}

    <form class="custom-form" role="form" name="PasswordChangeForm"
          action="{% url 'account_set_password' %}" method="post">
        {% csrf_token %}
        <fieldset>
        <legend>{% trans 'change password' %}</legend>

        {% if form.non_field_errors %}
            <div class="form-errors">
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-group">
            <label class="control-label"
                   for="{{ form.password1.id_for_label }}">{% trans "New password" %}</label>
            {{ form.password1.errors }}
            {{ form.password1|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label class="control-label"
                   for="{{ form.password2.id_for_label }}">{% trans "Repeat new password" %}</label>
            {{ form.password2.errors }}
            {{ form.password2|add_class:"form-control" }}
        </div>
        <button type="submit" value="reset" class="btn btn-primary">{% trans "Change Password" %}</button>
        </fieldset>
    </form>

{% endblock %}
