{% load i18n %}

<h4 class="category-title">{% trans "Categories" %}</h4>
{% for categ in categories %}
    {% if categ.id == category %}
        <a href="?category=" class="btn-group btn-sm btn-light-blue blogindex-category-btn active" role="button" aria-label="{% trans "Remove category filter" %} {{ categ }}">
            <span class="btn btn-groupie"><span class="category-name">{{ categ }}</span></span>
            <span class="btn btn-groupie"><i class="fa fa-times" aria-hidden="true"></i></span>
        </a>
    {% else %}
        <a href="?category={{ categ.pk }}" class="btn btn-sm btn-primary blogindex-category-btn category-name" role="button" aria-label="{% trans "Filter for category" %} {{ categ }}">{{ categ }}</a>
    {% endif %}
    <br class="hidden-xs">
{% endfor %}
