<div class="organisation-tiles carousel">


    {% include "cms_home/blocks/includes/proposal_dummy_tile.html" %}
    {% include "cms_home/blocks/includes/proposal_dummy_tile.html" %}
    {% include "cms_home/blocks/includes/proposal_dummy_tile.html" %}
    {% include "cms_home/blocks/includes/proposal_dummy_tile.html" %}
    {% include "cms_home/blocks/includes/proposal_dummy_tile.html" %}
    {% include "cms_home/blocks/includes/proposal_dummy_tile.html" %}
    {% include "cms_home/blocks/includes/proposal_dummy_tile.html" %}
    {% include "cms_home/blocks/includes/proposal_dummy_tile.html" %}


</div>