{% extends "base.html" %}

{% block social_meta %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Advocate Europe">
    <meta name="twitter:description" content="Do you have an idea that can inspire Europe? The open idea challenge Advocate Europe is an opportunity for game-changers. We invite active citizens and transnational changemakers to share their non-profit project ideas with us.">
    {% if page.image %}
        {% image page.image width-770 as image %}
        <meta name="twitter:image" content="{{ page.get_site.root_url }}{{ image.url }}" />
    {% else %}
        <meta name="twitter:image" content="{% get_absolute_uri request=request obj='images/logo_01.png' %}">
    {% endif %}

    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="Advocate Europe">
    <meta property="og:description" content="Do you have an idea that can inspire Europe? The open idea challenge Advocate Europe is an opportunity for game-changers. We invite active citizens and transnational changemakers to share their non-profit project ideas with us.">
    {% if page.image %}
        {% image page.image width-770 as image %}
        <meta property="og:image" content="{{ page.get_site.root_url }}{{ image.url }}" />
    {% else %}
        <meta property="og:image" content="{% get_absolute_uri request=request obj='images/logo_01.png' %}">
    {% endif %}
{% endblock %}

{% block content %}

        {% include "cms_home/includes/home_hero_unit.html" with image=page.image title=page.translated_title website=page.website videoplayer_url=page.videoplayer_url description=page.description %}

        {% for block in page.body %}
            {{ block }}
        {% endfor %}

{% endblock %}
